[2019-05-13 14:52] godanny86 commented on #1
hi @dcuselton950 thank you for raising, will update the link on the Docs side ASAP. In the interim you can use this: https://github.com/AdobeDocs/experience-manager-learn.en/blob/master/help/getting-started-wknd-tutorial-develop/assets/chapter-3/chapter3-src-code-start.zip

[2019-05-13 16:28] godanny86 commented on #1
Hi @dcuselton950 this has been corrected: https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/client-side-libraries.html#site-clientlibs

Please let us know if you have any other issues and thanks again for raising!

[2019-06-03 16:34] godanny86 commented on #2
I'm sorry you are frustrated @T-dex. If you have constructive thoughts on how we can improve the tutorial we would love to hear them. Unfortunately, using profanity violates Adobe's Code of Conduct and I will need to delete this post.

[2019-06-08 18:52] dcuselton950 commented on #5
I see. I had the $ at the beginning. Self closing this issue

[2019-06-08 18:52] dcuselton950 commented on #5
User Error

[2019-06-08 20:18] dcuselton950 commented on #6
I was able to delete all old projects, and then use the chapter solutions download from Git Hub to then install chapter one and that got me into alignment. Is there no way to just access an existing project that we installed with command line and pull that back to Eclipse?

[2019-06-08 21:03] godanny86 commented on #6
@dcuselton950 it is the same process as importing maven project that you created from the command line as it would be for importing that chapter solution. In the eclipse import wizard you just need to navigate to the location on the file system in which you created the project on the command line...

[2019-06-08 21:10] godanny86 commented on #4
@dcuselton950 I'm a little confused. Are you asking about when you first generate the project from the archetype? In step 5 you are generating the project for the first time, so the directory `aem-guides-wknd` does not exist yet...

[2019-06-08 21:37] dcuselton950 commented on #4
correct, but there were not instructions to be inside the location of the directory that holds the quickstart.jar when doing the initial maven project set up.

HTH

Very frustrated trying to get Eclipse up and running correctly and in alignment with your screencaptures.

[2019-06-08 21:56] godanny86 commented on #4
@dcuselton950 you do not need to be in the directory where AEM quickstart.jar when doing the initial maven project set up. You can be anywhere on the file system to generate the maven project.

[2019-06-08 21:58] dcuselton950 commented on #4
thats interesting.   Might be worth mentioning. I am your Idiot test..... :-).  Have not used eclipse in about 3.5 years since I worked at Intershop where we used it a lot for over 15 years.  But Maven style is different.

[2019-06-08 22:03] godanny86 commented on #4
good feedback and sorry for the confusion. We can add more details about the file directory system and where you should run the commands.

[2019-06-08 22:04] dcuselton950 commented on #4
no worries......I was part of Magento acquisition and prepping some materials to help train up the Magento SC's on AEM.  So go thru all tutorials so get guys on a path.

[2019-06-08 22:05] dcuselton950 commented on #4
Lets close this and stay on the Eclipse Issue thread

[2019-06-08 22:09] dcuselton950 commented on #6
Ok, so I have switched to doing the initial Archetype straight from eclipse. Still does not look like your your screen captures. For example, selecting the base page structure does not show JCR properties for that node.....standard issue Adobe Mac Laptop

![image](https://user-images.githubusercontent.com/19351790/59152740-607d4900-89ff-11e9-9a21-3859a0f9318d.png)

[2019-06-08 22:16] godanny86 commented on #6
you need to expand the Node representation (folder with the globe on it)

![image](https://user-images.githubusercontent.com/8974514/59152788-658ec800-8a00-11e9-8e69-268d5e042805.png)

[2019-06-08 22:20] dcuselton950 commented on #6
that must be part of my problem, I have not globe on mine and that folder has no content. hmmmmm

[2019-06-08 22:28] godanny86 commented on #6
Ah ok.
Right + Click the ui.apps project > **Properties**. Verify that the Content Sync directory points to `src/main/content/jcr_root`
![image](https://user-images.githubusercontent.com/8974514/59152859-96233180-8a01-11e9-8bf7-0350b54903e9.png)

See 05:40 in the AEM Development with Eclipse IDE video on https://helpx.adobe.com/experience-manager/kt/platform-repository/using/local-aem-dev-environm

[2019-06-08 22:32] dcuselton950 commented on #6
Should have looked at that closer……video made it appear that it defaulted to that, but it did not. That is fixing it and I am also doing the same for UI.content

From: Daniel Gordon <notifications@github.com>
Reply-To: "AdobeDocs/experience-manager-learn.en" <reply@reply.github.com>
Date: Saturday, June 8, 2019 at 3:28 PM
To: "AdobeDocs/experience-manager-learn.en" <experience-manager-learn.en@nor

[2019-06-08 22:43] dcuselton950 commented on #6
thanks so much...

[2019-06-08 22:43] dcuselton950 commented on #6
resolved well

[2019-07-12 18:13] godanny86 commented on #9
hi @jaijyothis thank you for raising! The command in the tutorial is a reflection of the usage instructions on the AEM Project archetype readme: https://github.com/adobe/aem-project-archetype#usage

Just to verify you have:
* Apache Maven (3.3.9 or newer)
* Added the Adobe Public Maven Repository in Maven settings (first couple of steps in the project-setup page

What is the error you get when exe

[2019-07-12 20:42] jaijyothis commented on #9
C:\Users\SDSA>mvn archetype:generate
-DarchetypeGroupId=com.adobe.granite.archetypes
-DarchetypeArtifactId=aem-project-archetype  -DarchetypeVersion=18
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< org.apache.maven:standalone-pom

[INFO] Building Maven Stub Project (No POM) 1
[INFO] --------------------------------[ pom
]---------------------------------
[INFO]
[INFO] >>> maven

[2019-07-12 20:55] godanny86 commented on #9
hi @jaijyothis thanks for sending the error. And you get this error even after adding the Adobe nexus repo to your .m2/settings.xml ?

[2019-07-15 23:41] godanny86 commented on #9
@jaijyothis please see the revisions to: https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/project-setup.html. Feel free to re-open if you have more details.

[2019-07-16 20:05] jaijyothis commented on #9
HI Daniel,

Used this command to resolve the issue => mvn archetype:generate -DarchetypeGroupId=com.adobe.granite.archetypes -DarchetypeArtifactId=aem-project-archetype -DarchetypeVersion=19 -Padobe-public
Also used the command => mvn -PautoInstallPackage -Padobe-public clean install

added <useProxy>false</useProxy> in pom.xml

            <plugin>
                    <groupId>com.day.jcr.vault</

[2019-09-12 06:48] synox opened #10 "Ch1: Project POM Overviews"
When looking at chapter 1, the following table and graph have somehow a discrepancy.

(see [project-setup.md](https://github.com/AdobeDocs/experience-manager-learn.en/blame/master/help/getting-started-wknd-tutorial-develop/project-setup.md#L255) )

But in the graph below the text, the `configs` are in ui.apps and not in `ui.content`.

![image](https://raw.githubusercontent.com/AdobeDocs/experience

[2019-09-18 15:02] minapier opened #11 "No content error applying page policy style"
Issue in help/getting-started-wknd-tutorial-develop/landing-page.md

At Step 5 of "Apply Homepage Style" near the end of Chapter 8, my home page in the tutorial gives me a "no content" error.

![add-homepage-style](https://user-images.githubusercontent.com/20262323/65159555-47beff00-da02-11e9-84be-dad745af322a.png)
![no-content](https://user-images.githubusercontent.com/20262323/65159574-4ee60d00-

[2019-09-19 23:07] godanny86 commented on #11
hi @minapier I have to admit I have not seen this issue before. What version of AEM are you using? Also, any service packs installed?

[2019-09-19 23:14] godanny86 commented on #10
Ah, excellent point @synox ! Hopefully, this will clarify what we intended:

* **OSGi** Configs - are specific configuration files for OSGi services and are stored in **ui.apps** (this is what was meant by "configs" in the diagram)
* *Configurations* - as it refers to the **ui.content** the module was a general term meant to encompass Templates, Policies, Cloud Services, Asset Metadata schemas, et

[2019-09-20 12:31] minapier commented on #11
@godanny86 I'm using version 6.5.0, no service packs. Thanks!

[2019-09-20 17:14] godanny86 commented on #11
hi @minapier if you can capture the xhr post when you switch the style. Mine looks like this:

![image](https://user-images.githubusercontent.com/8974514/65345553-69012600-db8f-11e9-9bb8-dedf34eaa939.png)

![image](https://user-images.githubusercontent.com/8974514/65345474-37885a80-db8f-11e9-9c51-68babc2fddd6.png)

[2019-09-20 18:02] minapier commented on #11
@godanny86 Here it is. I do not see ./cq:styleIds and ./sling:resourceType is cq:Page.

![xhr-post-headers](https://user-images.githubusercontent.com/20262323/65348410-1d5e7480-dbaf-11e9-99ab-616f5ba79a71.jpg)

[2019-10-11 13:10] godanny86 commented on #12
hi @anneangersbach thank you for reporting. It should have directed you to: https://docs.adobe.com/content/help/en/experience-manager-learn/sites/content-fragments/content-fragments-feature-video-use.html

I will update the document shortly...

[2019-10-11 13:20] godanny86 commented on #11
hi @minapier were you ever able to get this resolved? It almost looks like a potential permission issue. I see that the request has an authorizableId of anonymous. But I'm assuming you are logged in as admin?

[2019-10-11 13:53] minapier commented on #11
@godanny86 It's still not resolved. You are correct: I am logged in as admin.

[2019-10-18 15:21] godanny86 commented on #13
thank you @anneangersbach we will look into this and try and make it more consistent.

[2019-10-18 15:22] godanny86 commented on #12
This has been fixed: https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/style-system.html#content-fragment

[2019-10-18 15:23] godanny86 commented on #10
This has been updated to be more clear: https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/project-setup.html

[2019-10-18 15:23] #10 closed

[2019-11-07 15:14] godanny86 commented on #14
hi @alezzios in [Implement Site Client-side Library](https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/client-side-libraries.html#site-clientlibs) steps 1-3 have you download a zip file and instruct you to overwrite clientlib-site completely. The zip should include the correctly populated css.txt file..

In [Implement Header Styles](https://docs.

[2019-11-21 17:39] godanny86 commented on #14
@alezzios let me know if the above is not correct, closing for now...

[2019-11-22 17:45] girishadobe commented on #15
I have updated the bundle. Can you please try now and let me know if that works

[2019-11-27 15:37] jayproulx commented on #16
A note on the above, the issue was otherwise intermittent, republishing affected pages temporarily cleared that cache the the page would then work again as expected until the cache expired, but at some point after, the dispatcher would overwrite the `mycomponent.html` file with a folder with subassets again and the issue would reappear.

[2019-12-21 06:42] jmpittet opened #17 "add AEM as Cloud service to supported aem versions"
Issue in help/getting-started-wknd-tutorial-develop/overview.md

[2019-12-23 18:22] #17 closed

[2019-12-29 16:02] godanny86 commented on #19
Hey @NotWiggo. It sounds like the bundle has not been refreshed with the updated Sling Model that includes the new methods, `getText()` and `getGreeting()`. Maybe try deploying it directly using maven:

[code]
Also what version of AEM are you using? 6.4, 6.5, any service packs?

[2019-12-30 09:52] NotWiggo commented on #19
AEM 6.5, no service packs (that I can think of), and it makes no difference if I use mvn...

[2020-01-02 21:59] godanny86 commented on #19
ok, thanks for the update @NotWiggo. I'll do some testing on my end as well...

[2020-01-08 17:31] aaronstigberg opened #21 "There are some 404 Links under the video"
Please look into fixing them! I clicked the "Onboarding" link and got an error.

Issue in help/assets/metadata/enhanced-smart-tags-feature-video-use.md

[2020-01-08 17:36] godanny86 commented on #21
@aaronstigberg thanks for reporting!

[2020-01-08 17:52] godanny86 commented on #15
closing this due to inactivity.

[2020-01-08 17:53] godanny86 commented on #11
The tutorial has been updated since this was filed. closing.

[2020-01-08 17:53] #11 closed

[2020-01-22 09:34] deltaworld opened #23 "Update Link for download of Java 11 SDK"
Issue in help/cloud-service/./local-development-environment/aem-runtime.md

The link for **Download and install the latest release Java 11 SDK** links to https://www.oracle.com/technetwork/java/javase/downloads/jdk11-downloads-5066655.html

The link should direct the user to download the Java 11 SDK from downloads.experiencecloud.adobe.com and accept the EULA terms instead of Oracle.

[2020-01-22 16:28] godanny86 commented on #23
Thank you @deltaworld !

[2020-01-24 09:53] nanda-dev opened #24 "AEM Forms + ACS Tutorial - Invalid link to "standalone java code""
Issue in help/forms/aem-forms-with-adobe-campaign/partone.md

In the following page, there is a link to "standalone java code", which seems to be broken/invalid:
https://docs.adobe.com/content/help/en/experience-manager-learn/forms/aem-forms-with-adobe-campaign/partone.html

This is the link to the 'standalone java code' page, that is giving a 'Requested page does not exist or you need to be logge

[2020-01-24 16:53] godanny86 commented on #24
thanks @nanda-dev for letting us know. We will get this resolved shortly..

[2020-01-27 21:28] godanny86 commented on #23
This has been corrected. Thank you!

[2020-01-27 21:28] #23 closed

[2020-01-27 21:44] godanny86 commented on #16
Thanks @jayproulx the document has been updated to warn users about this misconfiguration. Thank you!

[2020-01-28 13:15] vivekanand-mishra opened #25 "Oauth sample repo link is broken and not accessible"
Issue in help/foundation/authentication/oauth-code-sample-develop.md [0]

Following repo is not accessible and gives 404- [1] and the diagram also missing from the page.

[0] - https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/authentication/oauth-code-sample-develop.html

[1]- https://github.com/Adobe-Consulting-Services/acs-aem-samples/tree/master/bundle/src/main/java/co

[2020-01-28 13:23] vivekanand-mishra commented on #25
Duplicate

[2020-02-05 16:14] gotovanez opened #29 "Page (https://docs.adobe.com/content/help/en/experience-manager-learn/cloud-service/local-development-environment-set-up/development-tools.html) does not distinguish installations of the development environment in Ubuntu, Linux on Windows, or Windows-only OSs. The developer is left to spend hours on end searching to find the correct installation instructions for each tool. Need more helpful instructions about exactly what works and where to be found."
Issue in help/cloud-service/./local-development-environment/development-tools.md

[2020-02-05 17:51] lesutton opened #30 "AEM Forms Code Sample - Uninitialized documentServices variable"
This example refer to a documentServices variable without exposing its declaration/creation/reference.

Issue in help/forms/document-services/using-assembler-service-in-aem-forms.md

[2020-02-06 22:50] godanny86 commented on #29
hi @gotovanez can you be more specific about which installation instructions you spent hours searching for? What operating system are you using?

[2020-02-07 16:47] davidjgonzalez commented on #31
Hi @gotovanez - Can you provide more constructive feedback? Thanks!

[2020-02-07 19:39] gotovanez commented on #31
Hi Daniel,
I'll try to be very diplomatic here because the instructions on the help page in this email chain are not user-friendly.  Adobe needs to hire a professional technical writer to work with the engineering team to create user-friendly pages for the setting up of the developers tools.  To start with, the content needs to be divided into groups according to the operating system which develop

[2020-02-07 20:29] godanny86 commented on #31
hi @gotovanez it looks like the screenshot of the error/issue did not get uploaded. Can you try re-uploading it?

I'm sorry this has been frustrating for you, we will review the steps for setting up the dispatcher on Windows and make the necessary updates.

[2020-02-07 20:37] godanny86 commented on #21
The links on: https://docs.adobe.com/content/help/en/experience-manager-learn/assets/metadata/enhanced-smart-tags-feature-video-use.html has been updated. Let us know if there are any other issues!

[2020-02-07 20:37] #21 closed

[2020-02-07 21:28] gotovanez commented on #31
Thank You!!  Image attached.

-----Original Message-----
From: Daniel Gordon <notifications@github.com>
To: AdobeDocs/experience-manager-learn.en <experience-manager-learn.en@noreply.github.com>
Cc: gotovanez <gotovanez@aol.com>; Mention <mention@noreply.github.com>
Sent: Fri, Feb 7, 2020 3:29 pm
Subject: Re: [AdobeDocs/experience-manager-learn.en] The instructions on this page (https://docs.adobe

[2020-02-07 22:44] davidjgonzalez commented on #29
Closing as duplicate of #31 - We will track and update the issue via #31.

[2020-02-07 22:44] #29 closed

[2020-02-07 22:49] godanny86 commented on #31
hi @gotovanez I don't think image attachments work when replying over email. Please login to the GitHub UI to upload any screenshots or attachments.

[2020-02-07 22:54] davidjgonzalez commented on #31
@gotovanez Thanks for the updated info! As @godanny86 mentioned we will work on validating the latest AEM SDK on Windows against the instructions and update as needed.

Understanding that the Local Dispatcher Tools is the source of most frustration - were the prior sections of the tutorial use-able for you? Or did you have issues there as well? (it sounded like you might have gotten the other tool

[2020-02-10 20:36] gotovanez commented on #31
As requested, attached is the screenshot from my unsuccessfully running the dispatcher script in a Windows Power Shell console with Docker Desktop and Docker for Windows installed on the computer.

![dispatcher_error_windows](https://user-images.githubusercontent.com/45862091/74187673-10ecbe00-4c1b-11ea-9821-c8fb4ae00fb7.png)

[2020-02-10 22:03] davidjgonzalez commented on #31
@gotovanez I spent some time this weekend getting a Win 10 Pro with the latest dispatcher tools (v2.0.20, same as your screenshot) and can reproduce the same. I validated the `out` works on macOS Dispatcher Tools, and vice versa, I copied an `out` generated on macOS (and works on macOS) fails on Windows - confirming that the issue appears to be w/ the shipped docker image for windows.

I was able

[2020-02-10 22:31] gotovanez commented on #31
Thank you!

[2020-02-10 22:39] godanny86 commented on #28
Thank you @vidhyabhushanbahl for raising. This has been fixed: https://docs.adobe.com/content/help/en/experience-manager-learn/sites/spa-editor/spa-editor-helloworld-tutorial-use.html

[2020-03-03 17:10] godanny86 commented on #34
Thank you @bstopp !

[2020-03-05 00:57] godanny86 commented on #34
this has been fixed. Thank you!

[2020-03-18 06:05] vidhyabhushanbahl opened #40 ""SampleSlingModelExporter.java" link takes to 404"
Issue in https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/development/develop-sling-model-exporter.html

"View the Code" takes to 404.

[2020-03-30 07:48] rubnig opened #42 "Missing step in Custom Component - Byline style"
Issue in help/getting-started-wknd-tutorial-develop/custom-component.md

There is a step missing for getting the styling to work in the Byline component: https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-wknd-tutorial-develop/custom-component.html#add-a-default-style

The following step is missing between step 7 and step 8:

[code]

[2020-04-06 13:51] rubnig commented on #42
Documentation was updated, so issue has been resolved.

[2020-04-06 13:51] #42 closed

[2020-04-06 16:54] godanny86 commented on #44
hi @julius0008 what version of the AEM quickstart jar are you running? Also what version of Java?

[2020-04-06 16:54] godanny86 commented on #42
thank you @rubnig for raising!

[2020-04-08 01:08] juliusturiano commented on #44
Im using AEM 6.5 and Java 11

[2020-04-08 01:35] godanny86 commented on #44
Are you sure you are on 6.5? From your screenshot it looks older and might be from around 2016. You will need to downgrade java to 8 if older than AEM 6.5...

[2020-04-08 01:36] godanny86 commented on #44
also do you only get this during the publish runmode? or can you start using author?

[2020-04-08 03:24] juliusturiano commented on #44
I can start author, its from around 2019, so maybe i just need to downgrade my java because publish is from around 2016. Thanks a lot @godanny86 !!

[2020-04-09 01:35] juliusturiano commented on #44
i cant open the jar file when i downgraded to java 8

[2020-04-09 19:41] godanny86 commented on #44
hmm, you can double check: https://helpx.adobe.com/experience-manager/6-3/sites/deploying/using/technical-requirements.html#SupportedPlatforms but JDK 8 should work...

Also what are you trying to accomplish? Do you want to run a publish instance using 6.5? or a publish instance using 6.3?

If your author instance is working fine and you want to simply start a new publish instance with the same bu

[2020-04-14 21:58] godanny86 commented on #45
thanks @bartoszWesolowski !

[2020-04-15 17:22] davidjgonzalez commented on #39
Fixed at https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/authentication/oauth-code-sample-develop.html

[2020-04-15 17:34] davidjgonzalez commented on #40
Thanks! This fix will be deployed shortly

[2020-04-15 17:40] davidjgonzalez commented on #35
Fixed at https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/authentication/oauth-code-sample-develop.html

[2020-04-15 17:41] davidjgonzalez commented on #32
Fixed at https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/authentication/oauth-code-sample-develop.html

[2020-04-15 17:41] davidjgonzalez commented on #25
Fixed at https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/authentication/oauth-code-sample-develop.html

[2020-04-15 17:41] #25 closed

[2020-04-16 16:48] davidjgonzalez commented on #40
Fix is live

[2020-04-16 16:48] #40 closed

[2020-04-16 16:49] davidjgonzalez commented on #38
Fix is live

[2020-04-16 23:37] godanny86 commented on #45
This has been fixed. Thanks @bartoszWesolowski

[2020-04-21 13:24] davidjgonzalez commented on #31
@gotovanezn Adobe Eng validated, and I was able to confirm, the latest DIspatcher Tools v2.0.21 work on the latest Docker (2.2.0.5 (43884)) w/ default installation toggles, for Windows 10 (Enterprise).

The latest Dispatcher Tools are available in the latest AEM SDK zip.

Would you be able to try this out at some point, and let us know if works for you?

![image](https://user-images.githubusercont

[2020-04-27 15:21] noozoo commented on #47
This is the page I was on
https://docs.adobe.com/content/help/en/experience-manager-learn/foundation/cloud-manager/understand-cloud-manager-for-aem.html

[2020-04-30 17:00] rnagaraj opened #49 "Typo in section - Read AEM Asset metadata properties"
Issue in help/foundation/./development/understand-java-api-best-practices.md
There is a  typo in code example `Asset asset = resource.adaptTo(Page.class);`
`resource `must adapt to `Asset` not `Page`.

[2020-04-30 17:03] rnagaraj opened #50 "Broken link in Query APIs section"
Issue in help/foundation/./development/understand-java-api-best-practices.md
broken link in CAUTION section under Query APIs section of the document

[2020-05-04 16:05] godanny86 commented on #47
hi @noozoo thank you for the feedback. We will keep this in mind in the future.

Our video player was just recently upgraded to include a playback speed option:
![image](https://user-images.githubusercontent.com/8974514/80987061-58cc4d00-8de6-11ea-983f-0433ef44083c.png)

Hope this helps!

[2020-05-04 16:05] godanny86 commented on #44
@julius0008 closing this due to inactivity. feel free to re-open if still experiencing issues...

[2020-05-04 16:07] godanny86 commented on #49
Thanks @rnagaraj !

[2020-05-04 16:11] godanny86 commented on #24
This has been resolved. Thanks @nanda-dev

[2020-05-04 16:11] #24 closed

[2020-05-06 19:30] godanny86 commented on #49
This has been corrected. Thanks!

[2020-05-06 19:30] #49 closed

[2020-05-06 19:31] godanny86 commented on #50
This has been corrected. Thanks!

[2020-05-06 19:31] #50 closed

[2020-05-07 17:30] davidjgonzalez commented on #52
Thanks @actinium15 - added the image back; this fix is pending deployment to adobe docs servers

[2020-05-07 17:58] girishadobe commented on #51
I have added the jar file. Can you please try again and let me know
Thanks

[2020-05-07 18:13] girishadobe commented on #30
The entire code is not listed. The code is part of the OSGI bundle that is available as part of this article

[2020-05-08 18:29] girishadobe commented on #55
I have added the jar file. Can you please try and let me know if this is still not working
Thanks

[2020-05-08 18:29] #30 closed

[2020-05-11 14:07] davidjgonzalez commented on #52
This fix is on docs.adobe.com now

[2020-05-13 15:39] girishadobe commented on #56
I am looking into it
will keep you posted
thanks

[2020-05-14 15:54] girishadobe commented on #56
I have updated the download links. It should work now. Let me know if this is still a problems
Thanks

[2020-05-14 15:55] girishadobe commented on #54
I have updated the download links. This should work now

[2020-05-21 16:59] godanny86 commented on #57
hi @nhamzeh let me investigate this. Will try and get it resolved shortly. Thank you for raising.

[2020-05-26 16:55] nhamzeh commented on #57
Thanks!

[2020-05-28 20:21] nhamzeh commented on #57
@godanny86,

I believe this is the same article on author:
https://chl-author.corp.adobe.com/content/help/en/experience-manager/using/form_component_customaction.html.

Can we have it published?

Thanks,
Nadine

[2020-05-28 20:45] godanny86 commented on #57
Hi @nhamzeh I'm still working internally to get the redirect sorted. Here is a similar article: https://docs.adobe.com/content/help/en/experience-manager-learn/forms/adaptive-forms/custom-submit-aem-forms-article.html

[2020-05-28 20:51] nhamzeh commented on #57
Hey @godanny86,

This article is for Adaptive Forms.  We are looking for instruction on the AEM Core Forms component, which is completely different.

Nadine

[2020-05-28 20:55] davidjgonzalez commented on #37
Fix now at: https://docs.adobe.com/content/help/en/experience-manager-learn/assets/metadata/smart-tags-technical-video-setup.html

[2020-06-24 18:53] dpogni commented on #62
There's also empty bullet points in this markdown file:
https://github.com/AdobeDocs/experience-manager-learn.en/blob/master/help/headless-tutorial/chapter-3.md

[2020-06-24 19:02] godanny86 commented on #62
Thanks @dpogni we are on it!

[2020-07-03 15:47] aaksinghAdobe opened #63 "Request to add information regarding locked components in editable templates"
Request to add info about component when locked in an editable template does not allow child componenets to be unlocked.
For example,
The layout container when added as a component if locked , the child components are locked as well. Customer cannot have unlocked text component (to be able to modify text) within a locked layout container.
However, The other way is possible, where you can have unlo

[2020-07-03 17:11] FFerreira84 commented on #64
Just noticed that the error occurs even before trying to add the module to be synchronised. When I refresh this project, four errors pop up in the eclipse error log, they're all the same:

eclipse.buildId=4.16.0.I20200604-0540
java.version=1.8.0_251
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en_GB
Framework arguments:  -product org.eclipse.epp.package

[2020-07-06 17:31] johnb4 opened #65 "[AEM Assets] Improper sentence structure and "secs" is not a word"
Issue in help/assets/./creative-workflows/adobe-asset-link.md

1. "secs" is not a word. It's "seconds".
2. This sentence fragment needs work "the original full-resolution asset gets replaces the lower resolution image and it all happens in the background." The words "gets replaces" should probably be "gets replaced". And what what does "it all happens in the background" supposed to mean? It's not

[2020-07-08 14:14] chikhaleprajaktaPFG opened #66 "[AEM Forms] com.adobe.internal.ddxm.DDXMException: com.adobe.internal.pdfm.CollateralNotFoundException: DDXM_S14017: A <PDF> source document is required, but no documents were found for {PDF source="File0.pdf" baseDocument="true"}."
Please, help me understand if I am missing something here. What would be possible resolution to solve such issue.
I am using this ddx to give input to invoke method of AssemblerService of AEM 6.5.

[code]

But  getting this error ,
[code]

[2020-07-09 02:27] rockstarlearner opened #67 "[AEM Assets] Missing Video Content on Adobe Asset Link - Place Link"
Issue in help/assets/./adobe-asset-link/place-linked.md

Link : https://docs.adobe.com/content/help/en/experience-manager-learn/assets/adobe-asset-link/place-linked.html

Missing video link

![image](https://user-images.githubusercontent.com/64078030/86990247-cc5d5280-c1b9-11ea-8962-3a65546f2c13.png)
:

[2020-07-09 17:05] davidjgonzalez commented on #67
Thanks @rockstarlearner - we'll get on this right away!

[2020-07-09 17:09] godanny86 commented on #62
This has been resolved:
https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-with-aem-headless/chapter-3.html
https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-with-aem-headless/chapter-2.html

[2020-07-09 17:14] girishadobe commented on #66
you need to create a map of documents with two keys File0.pdf and File1.pdf. From the error message looks like either you do not have a key called File0.pdf or the key File0.pdf 's value is not valid pdf document

[2020-07-10 01:04] godanny86 commented on #68
Hey @johnb4 totally agree. We are actually in the middle of refreshing those videos.

[2020-07-10 01:13] godanny86 commented on #68
The Adobe Launch UI has also changed significantly which would necessitate re-recording. Since the AEM UI has also changed somewhat and the reference site is We.Retail (instead of WKND) we will recreate the entire video series.

[2020-07-10 23:03] johnb4 opened #69 "[AEM] Where at Adobe is the documentation for "Configuration Browser"?"
Issue in help/sites/personalization/context-hub-technical-video-setup.md

There is a mention of it on the this page (one single sentence).
But, where at Adobe is the documentation for "Configuration Browser"? I cannot find it.
A google search of [aem "Configuration Browser"] leads to only one result at *.adobe.com >> https://docs.adobe.com/content/help/en/experience-manager-learn/getting-started-w

[2020-07-13 03:18] chikhaleprajaktaPFG commented on #66
Thanks @girishadobe  the issue is resolved. I converted Object of map to document object of adobe.

[2020-07-21 16:28] davidjgonzalez commented on #70
Thanks @steve-farwell

[2020-07-22 09:05] paran-k opened #71 "Broken Link - Missing content - Fluid Personalization video"
Issue in help/sites/personalization/experience-fragment-target-offer-feature-video-use.md

Under "Additional Resources" at the bottom of the page the "Fluid personalisation" video links to a locked/removed video. Can you please update and/or send me a link to the correct video? A client is asking for it. Thanks!

Additional Resources > Fluid Personalization - AEM Experience Fragments in Adobe Targ

[2020-08-14 18:16] godanny86 commented on #68
A new set of videos have been published: https://docs.adobe.com/content/help/en/experience-manager-learn/sites/integrations/experience-platform-launch/overview.html. Redirects from old content will put in place next week.

[2020-08-25 17:01] godanny86 commented on #70
fixed!

[2020-08-25 17:02] godanny86 commented on #67
fixed!

[2020-08-25 17:02] #67 closed

[2020-08-25 17:03] #66 closed

[2020-08-25 17:04] godanny86 commented on #65
fixed!

[2020-08-25 17:04] #65 closed

[2020-08-25 17:05] godanny86 commented on #60
fixed!

[2020-08-25 17:07] godanny86 commented on #59
A new video has been recorded that shows comparing the Launch URI in AEM with the URI in the Launch UI: https://docs.adobe.com/content/help/en/experience-manager-learn/sites/integrations/experience-platform-launch/create-launch-cloud-service.html

[2020-08-25 21:48] bbringhu opened #76 "Link to YouTube video requires sign in"
Issue in help/sites/personalization/experience-fragment-target-offer-feature-video-use.md

The first video you link to under Additional Resources requires a sign-in to view. Can you move this video to Adobe TV (MPC)?

CC: @mtalbot29

[2020-08-26 16:48] marlonnelson opened #77 "Error inserting breadcrumb component"
Issue in help/getting-started-wknd-tutorial-develop/pages-templates.md

I'm hoping I can get some help here, some insight into the problem, or at least get pointed to the right spot to get help.  Thanks.

When following along in the tutorial, I get the following error when trying to add a breadcrumb to the Article Page Template:

![screencapture-localhost-4502-editor-html-conf-wknd-settings-wcm-te

[2020-08-26 18:31] godanny86 commented on #77
hi @marlonnelson I don't think this is anything on your end.
I think you are running into: https://github.com/adobe/aem-core-wcm-components/issues/1146.

This issue should be fixed in the next release of Core Components. What version of Core Components are you on? I'm not sure when the bug got introduced. For the sake of the tutorial you could skip that step...

[2020-08-26 20:12] marlonnelson commented on #77
I'm using core components 2.11.0 with AEM 6.4.8.0.

I've proceeded and somehow the breadcrumb component ended up in my template.

I'll wait for the bug fixes.

Thanks.

[2020-08-26 20:12] #77 closed

[2020-08-31 15:30] godanny86 commented on #78
hi @fGhazala we actually are in the process of redirecting users to a newly recorded video series: https://docs.adobe.com/content/help/en/experience-manager-learn/sites/integrations/experience-platform-launch/overview.html. It is the same content but recorded with latest UIs.

[2020-10-01 20:54] jdelbick opened #83 "[AEM Assets] missing information about how to set up Asset Compute Worker using aio cli without logging in"
Issue in ./help/cloud-service/asset-compute/develop/project.md
[Generating a project](https://github.com/AdobeDocs/experience-manager-learn.en/blob/master/help/cloud-service/asset-compute/develop/project.md#generate-a-project) #2 says:

is it just missing the link (or is this content just missing) regarding how to set up a project (and attach the credentials) without logging in? here are the firef

[2020-10-01 23:29] jdelbick commented on #83
@davidjgonzalez

[2020-10-15 16:45] godanny86 commented on #71
this has been fixed.

[2020-10-15 16:45] #71 closed

[2020-10-15 16:47] godanny86 commented on #81
Thanks @sgeier ! This has been fixed

[2020-10-15 16:48] godanny86 commented on #73
Thanks @ataylorACN this has been fixed.

[2020-10-15 16:50] godanny86 commented on #75
This has been fixed. Thanks @thedoc31 !

[2020-10-15 16:52] godanny86 commented on #76
@bbringhu thank! fixed.

[2020-10-15 16:52] #76 closed

[2020-10-15 16:54] godanny86 commented on #82
Thanks @sgeier! We try to keep the project aligned with the AEM Project Archetype. I'll create an issue in that repo.

[2020-10-15 16:54] godanny86 commented on #84
this has been fixed. Thanks!

[2020-10-28 16:03] girishadobe commented on #86
are you concerned about the API key being visible in the code? If so we get create a Form Data Model if there are REST API for geolocation.

[2020-10-28 16:05] davidjgonzalez commented on #83
Thanks, @jdelbick  - yes, that is what I meant! I'll update the link - thank you for calling it out!

[2020-10-28 18:32] davidjgonzalez commented on #79
@duselton  how are you accessing this content? It's not really a tutorial - it explains core concepts.
Also, Drop box is just an example name of a folder its not "Dropbox" TM not is there any special extension/integration.

[2020-10-28 18:33] davidjgonzalez commented on #69
@bohnertchris any idea if this exists in Adobe AEM product documentation?

[2020-10-29 07:18] bohnertchris commented on #69
AEM configurations can be thought of as workspaces used to manage settings in AEM, activate certain features, and manage access.

Details are found in the Configuration Browser documentation.

https://docs.adobe.com/content/help/en/experience-manager-cloud-service/implementing/developing/configurations.html
https://docs.adobe.com/content/help/en/experience-manager-65/administering/introduction/con

[2020-11-04 00:33] johnb4 opened #91 "[AEM] The example headers in the section "Dispatcher caching concerns and configuration" should not end with a comma"
Issue in help/foundation/./security/understand-cross-origin-resource-sharing.md

In the section "Dispatcher caching concerns and configuration" there is a sample configuration of /cache /headers.
The list of header values is shown ending with commas. Commas are not allowed here. The proper values are simply words separated by a dash and surrounded by double quotes.
See https://docs.adobe.com/conte

[2020-11-09 02:41] pawee-del opened #92 "not an issue per se, but can i get the workflow model for this help page"
help page : https://experienceleague.adobe.com/docs/experience-manager-learn/forms/handling-af-form-submissions/configuring-adaptive-form-to-trigger-workflow.html?lang=en#get-the-adaptive-form-templates

can i get the workflow model?

[2020-11-09 23:23] pawee-del opened #93 "Bundle failed to activate"
Issue in ./help/forms/aem-forms-with-adobe-campaign/aem-forms-with-campaign-standard-getting-started-tutorial.md

this is the article with problem : https://experienceleague.adobe.com/docs/experience-manager-learn/forms/aem-forms-with-adobe-campaign/aem-forms-with-campaign-standard-getting-started-tutorial.html?lang=en#aem-forms-with-adobe-campaign

i downloaded the bundle linked on the page, and

[2020-11-09 23:27] pawee-del commented on #93
nvm i found it in this article https://experienceleague.adobe.com/docs/experience-manager-learn/forms/adaptive-forms/service-user-tutorial-develop.html?lang=en#adaptive-forms

[2020-11-09 23:27] #93 closed

[2020-11-09 23:27] pawee-del commented on #93
https://experienceleague.adobe.com/docs/experience-manager-learn/forms/adaptive-forms/service-user-tutorial-develop.html?lang=en#adaptive-forms

[2020-12-01 17:39] godanny86 commented on #95
Thanks @markszulc !

[2020-12-02 20:26] godanny86 commented on #95
this has been fixed. Thanks!

[2021-01-06 17:41] godanny86 commented on #100
Hi @mePriyak what service pack do you have installed on 6.5?

Have you tried deploying this branch: https://github.com/adobe/aem-guides-wknd-spa/tree/Angular/custom-component-solution ?

[2021-01-07 05:33] mePriyak commented on #100
Hi @godanny86 yes I tried deploying https://github.com/adobe/aem-guides-wknd-spa/tree/Angular/custom-component-solution and the same thing is happening for extended component. The version is AEM 6.5.0

[2021-01-07 19:42] godanny86 commented on #100
ah ok. @mePriyak is the error a javascript error or is it on the server side from AEM?

Are you able to install the latest service pack? I believe it is on 6.5.7, you can download them here: https://experience.adobe.com/#/downloads/content/software-distribution/en/aem.html

[2021-01-08 23:56] godanny86 commented on #69
Thanks @bohnertchris !

[2021-01-08 23:56] #69 closed

[2021-01-14 21:28] godanny86 commented on #103
Thanks @avitripathy01 ! This has been corrected. https://experienceleague.adobe.com/docs/experience-manager-learn/spa-react-tutorial/custom-component.html?lang=en#update-the-react-component

[2021-01-14 21:29] godanny86 commented on #102
hi @mePriyak were you able to verify that the new Sling Model (Core Bundle) was deployed?

[2021-01-14 21:30] godanny86 commented on #104
Thanks for reporting @duselton !

[2021-01-15 17:15] godanny86 commented on #105
Hi @CARIVASH ,
Can. you check the timestamp for the clientlib in the ui.apps and make sure that `ui.apps/src/main/content/jcr_root/apps/wknd-spa-angular/clientlibs/clientlib-angular` has been updated? Then when you run `mvn clean install -PautoInstallPackage` ensure that you are in the `ui.apps` directory. After that you can check you local AEM instance for CRX Package Manager and again view the t

[2021-01-22 04:42] godanny86 commented on #107
@DengChen0412 did you get this error when you initially build the chapter starter code at the start of the chapter?

I'm not sure, but I noticed that the folder structure you have includes spaces in the folder names. Can you try moving the project to a folder structure with no spaces in the name?

[2021-01-22 04:54] DengChen0412 commented on #107
Thank you very much for your responding.
I didn't got the same error when I initially build the starter code.
I changed deleted the space in the folder names, but nothing changes.

And I have tried to delete aem-guides-wknd-spa folder and git clone your codes again, It runs fine with the initially build.
But "mvn clean install -PautoInstallSinglePackage -Pclassic" will fail again after I made some

[2021-01-22 04:59] godanny86 commented on #107
Are you able to checkout and build the solution branch? https://github.com/adobe/aem-guides-wknd-spa/tree/Angular/integrate-spa-solution

[2021-01-22 06:14] DengChen0412 commented on #107
Checkouting didn't help me, so I deleted the folder and did git clone again, then it worked for me! Thank you very much!!!

But the style for header (header.component.scss) seems hasn't applied to my AEM 6.5.

My sites editor view:
( http://localhost:4502/editor.html/content/wknd-spa-angular/us/en/home.html )
![image](https://user-images.githubusercontent.com/57550059/105453753-10322800-5cc4-11eb-

[2021-01-22 17:06] godanny86 commented on #107
Hmm, I'm not sure. Perhaps a browser cache issue? Can you inspect that the css under clientlib-angular under `/apps` got updated? You can view it in CRXDE lite as well...

[2021-01-25 09:25] DengChen0412 commented on #107
Thank you again for your responding!
It's my fault, the directory I run mvn was under ui.frontend.
It's now resolved !

[2021-01-25 16:48] godanny86 commented on #107
Great to hear @DengChen0412 !

[2021-02-02 23:44] godanny86 commented on #110
Thanks @lizzSoup ! This has been corrected: https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-wknd-tutorial-develop/custom-component.html?lang=en#create-byline-component

[2021-02-02 23:45] godanny86 commented on #104
This has been corrected: https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-wknd-tutorial-develop/component-basics.html?lang=en#sling-models

[2021-02-03 18:31] godanny86 commented on #111
Hi @yas-globe ,

What version of AEM are you using? Do you have a screenshot of the page?

[2021-02-04 19:04] shsteimer opened #113 "Video on Service Credentials page is the same as the Intro Video"
Issue in ./help/headless-tutorial/authentication/service-credentials.md

The tutorial video on https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/authentication/service-credentials.html?lang=en#generate-service-credentials is the same as the introduction video on https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-ae

[2021-02-05 09:51] yas-globe commented on #111
Thanks for replying.
AEM build 2020.12.4676
This sounds stupid, but i stopped working on it since i posted this. But now it's working.
I was working on another tutorial instead. I did not touch the code whatsoever. The only thing i have done is I have turned off the server every night, since. Which I already did while troubleshooting before. The Components are now populated in the Side Panel, It's

[2021-02-05 19:59] godanny86 commented on #111
haha glad its working now. Feel free to re-open if you see anything else!

[2021-02-08 08:25] igirish-kumar opened #114 "Windows users using VS Code Issues"
For windows users using the VS code, The Repo tool that enables to get and put changes from the code to the local AEM instance-
1.   Cannot be running through the VS code using tasks computes, but needed to be run through the git bash.
2.  When running the Repo tool using the git bush, there are some commands that are used by the repo script that are
      missing
      in git bush tool and need t

[2021-02-09 11:58] abetoots commented on #109
Found out using the command before the latest commit for project-setup.md which uses `-DarchetypeVersion=22` setups the correct project. I recommend reverting back to version 22 for now if you want a similar setup with the tutorial videos.

[2021-02-10 18:09] davidjgonzalez commented on #114
@igirish-kumar  do you recall which page had incomplete information on repo tool?

[2021-02-10 18:14] davidjgonzalez commented on #113
Thanks @shsteimer  - a fix is waiting for deployment.

Overview videos: https://video.tv.adobe.com/v/330460/?quality=12&learn=on
Service credentials video: https://video.tv.adobe.com/v/330519/?quality=12&learn=on

[2021-02-10 18:32] davidjgonzalez commented on #94
@icegoffy yes - you could leverage Adobe IMS's APIs to refresh the access token. I believe this example excluded that to reduce the code and focus on the interaction between AEM Forms and Campaign. You can add other efficiencies such as caching the token, and re-using the cached token and only refreshing shortly before its expiration (which IIRC, defaults to 24 hours - but you should double-check

[2021-02-10 20:56] #113 closed

[2021-02-10 21:50] davidjgonzalez commented on #90
great idea! thankS!

[2021-02-10 21:51] davidjgonzalez commented on #89
Thanks! This should be fixed now!

[2021-02-11 14:19] davidjgonzalez commented on #61
Sorry for the (very) tardy response - this should be covered in Dispatcher docs -- there is nothing special you need to do in the context of SDI, the SDI include will be treated by Dispatcher as "yet another" HTTP request.

https://experienceleague.adobe.com/docs/experience-manager-dispatcher/using/configuring/dispatcher-configuration.html?lang=en#enabling-access-to-vanity-urls-vanity-urls#restric

[2021-02-11 14:23] #83 closed

[2021-02-11 14:54] davidjgonzalez commented on #85
@pooja-chauhan  - This sounds like a product issues/enhancement more than something with the video content (as the video shows the feature as it works). Please re-open this issue if ive misunderstood. Also, please feel free to log Adobe Support Tickets for issues or enhancements you might notice.

[2021-02-11 15:10] davidjgonzalez commented on #86
@pawee-del It appears this has been answered. Please re-open if you require more clarification. thanks!

[2021-02-11 15:20] davidjgonzalez commented on #100
@mePriyak Were you able to resolve this? If not can you re-open with the requested information? Thanks!

[2021-02-11 15:36] davidjgonzalez commented on #106
@apkawale this probbably is better suited for the ASC Github issues, but ill jot down a quick answer;

The "Asset Details" page name for a particular asset derived from the AssetType Computed Property [1]. The pseudocode for this is:

[code]

Most stuff is cause by the UIHelper.lookupMimetype(..) ... @godanny86 probably knows better how that works.

You can also implement your own AssetDetailsSele

[2021-02-11 15:38] davidjgonzalez commented on #109
Just a heads up WKND Sites tutorial has been recently updated to align to Archetype 25 - not sure if you experienced this issue before or after that update.

[2021-02-11 15:48] davidjgonzalez commented on #63
@aaksinghAdobe is this a product enhancement request? Or is this something that should be fixed/improved in the docs content?

[2021-02-11 15:58] #91 closed

[2021-02-16 20:01] girishadobe opened #115 "Click-through video does not have audio"
Issue in ./help/cloud-service/local-development-environment/development-tools.md
the first video in this page does not have any audio.

[2021-02-16 20:47] davidjgonzalez commented on #115
This video does not have audio, but rather acts as a visual aid for the steps outlined below.

Assigned to you in case you want to provide an audio track.

[2021-02-17 23:07] masumalli opened #116 "Add troublshooting tips at the bottom of the page"
Issue in ./help/headless-tutorial/graphql/setup.md

After following the steps on this page, I get error on the browser 403 for http://localhost:3000/content/graphql/endpoint.gql request. Hence not able to load the page. Even though I have configured CORS and also configured right env variables etc.

[2021-02-19 15:44] #115 closed

[2021-02-19 16:12] godanny86 commented on #116
hey @masumalli what version of the AEM SDK are you using?
What is the javascript error you see in the browser?
Can you check the AEM error.log and share any relevant messages?

[2021-02-23 08:58] bartoszWesolowski opened #117 "Local AEM and assets share instances issue"
Issue in ./help/assets/sharing/connected-assets.md

Hello, I am trying to set up 2 AEM Author instances on my local machine to test Asset Share feature. Most of the configuration works fine but I have an issue when I need to log in to the Asset AEM in the content finder on Sites AEM.
When I log in the the Assets inside in the new browser window that pops out after clicking on _Log in to Connected

[2021-02-24 18:49] godanny86 commented on #117
Hi @bartoszWesolowski,can you share what version of AEM you are using?  Also what browser?

And to confirm, the behavior you experience is that when you try to  *Log in to Connected Assets* from the Sites instance, you are automatically logged out of the Sites instance? Are you using the same username for both Sites and Assets?

[2021-02-24 19:52] mattlaun opened #118 "Some pages are redirecting to experienceleague landing page"
Issue in ./help/cloud-service/local-development-environment/overview.md

Earlier URLs, such at this one [1] which are still showing in Google search results, are redirecting to experienceleague landing page. The URLs appear to have changed as you can reach the correct page with a slightly different URL [2]. Note a hyphen was removed from "set-up".

[1]
https://experienceleague.adobe.com/docs/exper

[2021-02-24 19:55] godanny86 commented on #118
Thanks @mattlaun for reporting!

[2021-02-24 22:33] godanny86 commented on #118
Thanks again @mattlaun, very much appreciated. This has been corrected.

[2021-02-24 22:33] #118 closed

[2021-02-25 14:24] bartoszWesolowski commented on #117
Hi @godanny86
`And to confirm, the behavior you experience is that when you try to Log in to Connected Assets from the Sites instance, you are automatically logged out of the Sites instance?` - yes this is exactly what I am experiencing.

Browser: chrome, firefox (both latest)
AEM: 6.5.0
I tried logging with admin (to both sites and assets). I also created new user and tried with admin and this us

[2021-02-26 19:05] godanny86 commented on #117
Hey @bartoszWesolowski can you install the latest service pack 7 for 6.5: https://experience.adobe.com/#/downloads/content/software-distribution/en/aem.html?package=/content/software-distribution/en/details.html/content/dam/aem/public/adobe/packages/cq650/servicepack/aem-service-pkg-6.5.7.zip

[2021-03-03 18:32] bartoszWesolowski commented on #117
Hi @godanny86  I did and I still have the same issue.
 When I have a dispatcher in front of one of the instances so they are under domains (domain for sites and localhost for assets) everything works fine :)

[2021-03-03 21:51] sukohli opened #119 "Conflict at point 6 - Update the dispatcher.any configuration file to support (1) nocache selectors and (2) enable TTL support."
Issue in ./help/foundation/development/set-up-sling-dynamic-include.md

There seems to be a conflict in using the point 6 -> Update the dispatcher.any configuration file to support (1) nocache selectors and (2) enable TTL support.
The findings show that the instruction on step #6 of the guide here https://experienceleague.adobe.com/docs/experience-manager-learn/foundation/development/set-up-sling-

[2021-03-14 17:11] nutmix opened #121 "mvn archetype fails to build, and fails to deploy due to old versions."
Issue in ./help/getting-started-wknd-tutorial-develop/project-setup.md

% mvn -version
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /opt/apache-maven
Java version: 11.0.10, vendor: Azul Systems, Inc., runtime: /Library/Java/JavaVirtualMachines/zulu-11.jdk/Contents/Home
Default locale: en_GB, platform encoding: UTF-8
OS name: "mac os x", version: "11.2.2", arch: "aarch6

[2021-03-15 02:03] godanny86 commented on #121
hi @nutmix can you switch your JVM to use JDK 11 on the Software distribution portal?

https://experience.adobe.com/#/downloads/content/software-distribution/en/general.html?package=/content/software-distribution/en/details.html/content/dam/general/public/jdk-11-0-10/jdk-11.0.10_osx-x64_bin.tar.gz

[2021-03-15 10:18] clstia commented on #121
Maven: 3.6.3
JDK: Oracle JDK 11.0.10, OpenJDK 11.0.2
Windows 10
AEM 6.5

I also encountered this error. I also tried clearing out my m2 folder before switching to Oracle JDK.

[2021-03-15 12:26] nutmix commented on #121
The solution is to modify your pom.xml to get it to work:

<aemanalyser.version>0.9.2</aemanalyser.version>

[2021-03-15 12:27] nutmix commented on #121
Unfortunately, that link just takes me to the general experience cloud support page.

[2021-03-15 15:46] clstia commented on #121
Yup. This resolved my issue. Thanks @nutmix

[2021-03-15 16:22] godanny86 commented on #121
thanks @nutmix for reporting! This issue has been reported to in the AEM Project Archetype: https://github.com/adobe/aem-project-archetype/issues/638

Will look to update the instructions for the tutorial and a new version of the Archetype should get released soon to fix this...

[2021-03-16 19:32] godanny86 commented on #121
Archetype 26 has been released to fix the issue: https://github.com/adobe/aem-project-archetype/releases/tag/aem-project-archetype-26. Tutorial will be updated shortly.

[2021-03-17 13:56] isabaudouin opened #122 "broken link?"
Issue in ./help/assets/dynamic-media/dynamic-media-3d-feature-video.md

This link seems not working
https://s7d1.scene7.com/s7viewers/html5/DimensionalViewer.html?asset=DynamicmediaNA1/canBlue-2&config=DynamicmediaNA1/Dimensional&serverUrl=http://s7d1.scene7.com/is/image/&contenturl=http://s7d1.scene7.com/is/content/

[2021-03-17 21:48] #121 closed

[2021-03-26 12:44] 3ch023 opened #123 "aio CM plugin commands are not working anymore"
Issue in ./help/cloud-service/local-development-environment/development-tools.md

"aio config:set jwt-auth" - this command is outdated.
`aio config:set ims.contexts.aio-cli-plugin-cloudmanager PATH_TO_CONFIG_JSON_FILE --file --json` should be used instead, see https://github.com/adobe/aio-cli-plugin-cloudmanager

[2021-03-26 23:10] shsteimer opened #124 "CORS Dispatcher Setup Instructions are Wrong/Confusing"
Issue in ./help/foundation/security/understand-cross-origin-resource-sharing.md

Unless I'm just missing something, this document is wrong. It shows a list of headers being added to /farm/cache/clientheaders. The actual place to add those is /farm/cache/headers. In addition, you need to add "Origin" to /farm/clientheaders to ensure Origin makes it to the publisher, which makes the typo above that

[2021-03-31 13:25] nutmix opened #125 "cant compile the new code, get "An error occurred while calculating the baseline""
Issue in ./help/getting-started-wknd-tutorial-develop/custom-component.md

Followed the tutorial, but cant build/deploy the result.  Get this when try to compile with the added java code:

[ERROR] Failed to execute goal biz.aQute.bnd:bnd-baseline-maven-plugin:5.1.2:baseline (baseline) on project aem-guides-wknd.core: An error occurred while calculating the baseline: The baselining plugin detected

[2021-04-05 14:23] dcaviedesm opened #126 "[Foundation] Video doesn´t correspond with description, neither with subtitles"
Issue in ./help/foundation/workflow/use-workflow-management.md

[2021-04-07 14:52] bstopp opened #127 "Missing note about Docker & MacOS Shares"
Issue in ./help/cloud-service/local-development-environment/dispatcher-tools.md

On MacOS, you will get an error if you haven't made folder in which the Dispatcher scripts are extracted sharable to Docker

Yes it generates an error in the execution output, but a note on this page providing this information to the users would be beneficial. Also maybe some screen captures..

[code]

[2021-04-20 22:57] selvarajadobe opened #130 "Please check the title - delete - test"
Issue in ./help/sites/integrations/adobe-target/personalization-web-page.md

[2021-04-20 23:01] #130 closed

[2021-04-20 23:02] selvarajadobe opened #131 "Check the issue and delete it please"
Issue in ./help/sites/integrations/adobe-target/personalization-web-page.md

[2021-04-20 23:04] #131 closed

[2021-04-20 23:04] selvarajadobe opened #132 "Check the issue and delete it please #131"
Issue in ./help/sites/integrations/adobe-target/personalization-web-page.md

[2021-04-20 23:08] selvarajadobe opened #133 "Please check the title for this page"
Issue in ./help/sites/integrations/adobe-target/add-target-launch-extension.md

[2021-04-20 23:20] #132 closed

[2021-04-20 23:20] #133 closed

[2021-04-28 15:20] ichirital opened #134 "[Assets] InDesign Server URL at the bottom of the page returns 404"
Issue in ./help/assets/asset-templates/asset-templates-tutorial-understand.md

[2021-05-11 15:48] kunwarsaluja opened #137 "AEM Log tracer plugin is not available anymore"
Issue in ./help/cloud-service/debugging/aem-sdk-local-quickstart/other-tools.md

Need to update the docs as AEM log tracer plugin is not available on the CHrome store.

https://chrome.google.com/webstore/detail/aem-chrome-plug-in/ejdcnikffjleeffpigekhccpepplaode?hl=en-US = 404

[2021-05-11 21:16] davidjgonzalez commented on #137
Thanks @kunwarsaluja  - removed the section from Docs.

[2021-05-11 21:16] #137 closed

[2021-05-11 21:20] davidjgonzalez commented on #125
@nutmix you will need to update the `com.adobe.aem.guides.wknd.core.models`'s `package-version.java` file to be updated to `2.1.0`

Marking this as a bug to get this updated in the docs.

[2021-05-14 16:15] davidjgonzalez commented on #126
Thanks for the tip! Will fix the title/description on the page!

[2021-05-20 17:13] #134 closed

[2021-05-20 17:14] #126 closed

[2021-05-20 17:15] #124 closed

[2021-06-01 23:11] johnb4 opened #138 "The list of cache headers should not be separated by a comma"
Issue in ./help/foundation/security/understand-cross-origin-resource-sharing.md

The list of cache headers at "Dispatcher caching concerns and configuration" should not be separated by a comma.
The only separator between one value and the next is a new line.
Please remove the comma at the end of the line:

      "Origin",

Thanks,
John

[2021-06-07 12:32] deltaworld opened #140 "Update Browser Network screenshot to localhost:3000 not localhost:4502"
When inspecting the graphql request endpoint call from the WKND react client app, the request to http://localhost:4502/content/graphql/global/endpoint.json is proxied to to
http://localhost:3000/content/graphql/global/endpoint.json.

Can we have the screenshot and the explanation to match the expected output.

![image](https://user-images.githubusercontent.com/1529652/121016803-7c558a00-c794-11eb-

[2021-06-10 08:51] phornig opened #141 "Clarify custom logging config"
Hello,

at https://github.com/AdobeDocs/experience-manager-learn.en/blob/master/help/cloud-service/debugging/cloud-service/logs.md#custom-log-files it is mentioned that there can be custom logging config for AEMaaCS, but it must be logged to the error.log. Please clarify which path must be used for the log file, most likely "logs/error.log", but it's not clear from the documentation and the next s

[2021-06-21 03:30] ariel-s-udtohan opened #143 "AEM SPA - Style system css classes not applied in spa components"
Issue in ./help/headless-tutorial/spa-editor/react/overview.md

[2021-07-01 10:12] rohanraj14 opened #147 "I installed GraphiQL Content Package v0.0.6 (2021.3), But suggested path is not working:http://localhost:4502/content/graphiql.html"
Issue in ./help/headless-tutorial/graphql/multi-step/explore-graphql-api.md

[2021-08-10 01:52] charronadobe opened #148 "Data.xml file"
Issue in ./help/forms/handling-form-submissions/creating-a-review-workflow.md

at ~ 00:41 of the video you show the data.xml file which has the values filled in from the adaptive form, but you never say where this file came from, how it was generated, or how we find it to get the xml elements that we'd need to map the variables.

Where did this xml file come from?

[2021-08-10 14:03] davidjgonzalez commented on #138
thanks!

[2021-08-10 14:09] davidjgonzalez commented on #141
Added to docs, in case someone runs into this on Github.. heres how you specify in the LogManager OSGi configuation

[code]

[2021-08-10 22:18] girishadobe commented on #148
The AEM Forms submit handler generates the xml. Each form element becomes an xml element in the data file. for example if your form has textfield with name firstName your xml data file will have an element called firstName

[2021-09-07 17:53] rohanraj14 commented on #147
Hi Team, Can you confirm if this GraphiQL package works onprem installation or only on the AEM Cloud?

[2021-09-22 15:17] rohanraj14 commented on #147
Does this being even managed actively ?

[2021-09-22 15:55] godanny86 commented on #147
Hi @rohanraj14 ! Sorry for the delay. GraphQL will work for 6.5 and Service Pack 10. Check out the release notes: https://experienceleague.adobe.com/docs/experience-manager-65/release-notes/service-pack/sp-release-notes.html

What version are you working with?

[2021-10-05 20:15] vcohen-irvinecompany opened #157 "Need explanation for Maven option"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/component-basics.md

There's a note under Sling Models Step 7:
[code]
I can't find any information on the `classic` option; please link to an explanation. What happens if this option is omitted when using 6.4 or above? What does it enable?

[2021-10-05 23:21] godanny86 commented on #157
Thanks @vcohen-irvinecompany. Good call out, I believe in the video there is a small explanation but we should include more information in the text.

The tutorial project been modified so that it can be backwards compatible with 6.4/6.5. There are a different set of APIs for AEM as a Cloud Service vs. 6.5 vs. 6.4. By enabling the `classic` profile you are compiling the project against a set of API

[2021-10-05 23:38] vcohen-irvinecompany commented on #157
Thanks, Daniel, that does help. A couple things:

   1. I avoid the videos as much as possible; I vastly prefer to read
   information than to listen or watch someone present it. So I prefer that
   you put important information in text where it can be indexed, searched,
   copied, etc. On the documentation site, I see videos as supplemental media
   that can demonstrate or elaborate on concepts,

[2021-10-26 02:43] pawee-del opened #161 "Cannot find an example of sitemapgenerator"
Since the acs commons sitemap module is now deprecated, the only option is to use wcm core sitemap functionality. We need to add more elements to the sitemap xml e.g. priority, lastmodified. However I am not able to find any example of a  java implementation of the SitemapGenerator.

[2021-11-02 03:47] theboman opened #163 "Inspect the Text Component - no images to follow along"
Issue in ./help/headless-tutorial/spa-editor/react/map-components.md

Hello I can provide a marked up acrobat file of my complaints, again these docs seem to be behind actual screens, in this section:

Starting with the section titled:
Inspect the Text Component:
where are we in AEM to find the base core components? also the latest components seem to have a v1 and v2 iteration and the newer interf

[2021-11-02 15:52] godanny86 commented on #163
hi @theboman sorry for the confusion. The intention was to direct you to the Core Component Library hosted at https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/text.html and use the public docs site to inspect the json output.

[2021-11-04 15:26] joostvdbroek93 opened #164 "AEM as a cloud service quick-start jar cannot be started by double clicking it"
Following pages states that AEM as a cloud service quick-start jar cannot be started by double clicking it:

https://experienceleague.adobe.com/docs/experience-manager-learn/cloud-service/local-development-environment-set-up/aem-runtime.html?lang=en#troubleshooting-double-click

The screenshot with the error clearly shows that AEM requires Java 11. When adding Java 11 to my path I'm able to start

[2021-11-12 00:08] pawee-del commented on #161
sorry @Buuhuu would you be able to send me an example of a custom sitemapgenerator java implementation, we just need an example, i will try to work out the rest of the missing parts

[2021-11-12 09:39] Buuhuu commented on #161
We will update the documentation along GA next service pack for on-prem.

The following example shows how to implement a custom SitemapGenerator, making use of the default implementation's logic for AEM Sites. It usess the [ResourceTreeSitemapGenerator](https://javadoc.io/doc/org.apache.sling/org.apache.sling.sitemap/latest/org/apache/sling/sitemap/spi/generator/ResourceTreeSitemapGenerator.html)

[2021-11-14 23:30] pawee-del commented on #161
thanks,

[2021-11-19 15:50] Mikilll94 opened #166 "Since Sass 1.33.0 using / for division is deprecated and it shows a warning"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/client-side-libraries.md

[code]

https://sass-lang.com/documentation/breaking-changes/slash-div

This code [wknd-base-styles-src.zip](https://experienceleague.adobe.com/docs/experience-manager-learn/assets/wknd-base-styles-srcv2.zip?lang=en) should be updated.

[2021-11-23 01:07] pawee-del commented on #161
Strange, the generator class that i wrote using above as a reference isnt being triggered, @Buuhuu is there any configuration i need to set to enable?

[2021-11-24 12:13] Buuhuu commented on #161
Hey @pawee-del I updated the example in my previous comment with a working example. It is important to set the `service.ranking` correctly (greater than 10). There are not further configurations needed.

[2021-11-24 22:57] pawee-del commented on #161
its working now, just a quick question, if i set a page to noindex, do i have to handle it manually inside my generator class? cos i found it doesnt

[2021-11-25 11:56] Buuhuu commented on #161
In the example above, this is what `!defaultGenerator.isNoIndex(page)` is used for.

[2021-11-29 01:44] pawee-del commented on #161
we deploy this to aem cloud, since no access to web console, how do i turn on ondemand? do i have to check in a ondemand osgi config, test it out then revert back to scheduler? would you be able to pass me a copy of the ondemand osgi config

[2021-11-29 09:32] Buuhuu commented on #161
This is up to your requirements. Enabling the `allOnDemand` configuration of the `SitemapGeneratorManagerImpl` helps developing on a local environment and may be useful for some really small sites or Apache Sling use cases other than AEM.

Enabling on-demand does not _nullify_ the scheduler but the scheduler will not queue a sitemap generation job for a sitemap that is served on demand. That means

[2021-11-29 22:42] pawee-del commented on #161
thanks @Buuhuu  will post on the Apache Sling Users mailing list
i just wanted to use allOnDemand on the staging cloud env to test out the sitemap

[2021-11-29 22:43] #161 closed

[2021-12-03 19:27] krishnaselvaraj opened #168 "Create Site Wizard Option missing on AEM CS"
Hey,

Great tutorial and thanks for putting this together. I am trying to create a new site and  **Create Site using template** option is not shown by default in AEM CS. Would be great if the tutorial can throw some light on how to enable it.

Issue in ./help/getting-started-wknd-tutorial-develop/site-template/create-site.md

Thanks,
Krishna Selvaraj

[2021-12-03 19:31] godanny86 commented on #168
hi 👋  @krishnaselvaraj ! The Create Site using Template is is still behind a feature flag and is not generally available. Our expectation is that it will become GA'd with the December release of AEM CS (so in a few weeks 🤞 ).

[2021-12-03 19:41] krishnaselvaraj commented on #168
Thanks, @godanny86, I went through another article that mentions the prerelease and it makes sense now. Thanks for your comment and good to hear from you.

https://www.albinsblog.com/2021/11/quick-site-creation-site-templates-aem.html#.Yapt1vGIZUI

[2021-12-03 19:59] godanny86 commented on #168
update! @krishnaselvaraj  you can enable the prerelease flag using your local SDK and you should have access.Check out this doc for more details: https://experienceleague.adobe.com/docs/experience-manager-cloud-service/release-notes/prerelease.html%3Flang%3Dde#local-sdk

[2021-12-03 20:00] krishnaselvaraj commented on #168
Awesome Thanks @godanny86

[2021-12-07 18:31] krishnaselvaraj commented on #168
@godanny86 I tried the **Create site using the template** option and it looks very nice. Since this is a feature that is yet to be released, and for a user who would like to create a new microsite I do have a question and hoping you can help.

1. We have a site hosted on AEM CS with the following path **/content/foo** and contains a Language Master and a language copy. However, there is no bluepri

[2021-12-12 17:58] theappletech opened #1 "Invalid Syntax : offending token '\"data\"
Issue in ./help/headless-tutorial/graphql/multi-step/explore-graphql-api.md

Query
{
  "data": {
    "adventureList": {
      "items": [
        {
          "_path": "/content/dam/wknd/en/adventures/bali-surf-camp/bali-surf-camp",
          "adventureTitle": "Bali Surf Camp"
        },
        {
          "_path": "/content/dam/wknd/en/adventures/beervana-portland/beervana-in-portland",

[2021-12-12 18:35] #1 closed, assigned to nobody

[2021-12-12 18:36] theappletech commented on #1
misreading of the instructions

[2021-12-12 23:16] cdalyc opened #2 "404 when using mock.model.json"

[2021-12-12 23:27] #2 closed, assigned to nobody

[2021-12-13 19:46] krishnaselvaraj opened #3 "Double click jar works . Needs doc update"
I am able to open the AEM instance using the Double click option. Do we need to update the document? "You cannot start the AEM as Cloud Service Quickstart Jar by double-clicking.

"

Issue in ./help/cloud-service/local-development-environment/aem-runtime.md

[2021-12-16 10:32] sumanbi opened #4 "Append Mode for multiple asset editing giving error pop up"
Hi,

I was trying to edit multiple assets, but when i select Append Mode for multiple asset its  giving error pop up saying "Unable to edit properties."

[2021-12-31 01:17] theboman opened #5 "Adobe public releases not found"
Hi this is your insturctions:
https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-wknd-tutorial-develop/project-archetype/project-setup.html?lang=en

ssue in ./help/foundation/development/set-up-a-local-aem-development-environment.md

cannot navigate to this directory...
  <properties>
                <releaseRepository-Id>adobe-public-releases</releaseRepository-Id>

[2022-01-04 12:52] sebastianedberg opened #6 "Assigning groups to prod profiles"
Issue in ./help/cloud-service/accessing/adobe-ims-product-profiles.md

Seems it is now possible to add groups to profiles so might be good to add about that

[2022-01-13 16:49] kr1st1nagr03g3r opened #9 "Package included in tutorial does not have three template options, only one"
Issue in ./help/forms/creating-your-first-adaptive-form/create-adaptive-form-template.md

When download the [package in the article](https://experienceleague.adobe.com/docs/experience-manager-65/forms/adaptive-forms-advanced-authoring/template-editor.html?lang=en):

It only downloads one option, when there are three in this video tutorial.

![image](https://user-images.githubusercontent.com/940158

[2022-01-25 13:23] distoan1 opened #12 "Change file name extension"
Issue in ./help/headless-tutorial/spa-editor/angular/integrate-spa.md
In the 'deploy SPA updates to AEM', step 3, please change the name of the file header.component.js to header.component.ts, to match the files from git.
[Logged by Support]

[2022-01-27 10:04] steven-radford opened #13 "Broken link"
Issue in ./help/forms/document-services/apply-reader-extension-rights-to-pdf.md

In first paragraph To test this capability, you can try this link. the link to:
https://forms.enablementadobe.com/content/forms/af/applyreaderextensions.html

doesn't work

[2022-01-27 10:08] steven-radford opened #14 "Seems to be a large duplication of the first 2 sections they appear twice?"
Issue in ./help/forms/document-services/pdf-forms-and-documents.md

[2022-01-27 10:17] steven-radford opened #15 "Recommended change:"
Issue in ./help/forms/troubleshooting/steps-to-reset-default-password-for-users-in-aem-forms-osgi.md

I suggest this page includes the statement that you must already know the existing password. as there are cases when the existing password may have been changed for other reasons and there is a need to reset it without knowing the current password. There are articles on this on your site on how to

[2022-02-01 20:28] raydot opened #16 "Step 6"
Issue in ./help/foundation/development/set-up-a-local-aem-development-environment.md

The link in Step 6 that reads "Add the adobe-public profile to the settings.xml file based on [the instructions here](https://repo.adobe.com/)." links to a broken link.

[2022-02-06 07:23] theboman opened #18 "anyone try this with the latest react and node? I can't get it to compile"
Issue in ./help/headless-tutorial/spa-editor/react/overview.md

I am on a M1 mac :P
using latest react / node and archtype 35

[2022-02-15 06:16] vidhyabhushanbahl opened #19 "Error in archetype 26 while create the project"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/project-setup.md

While following the step number 4 under create project
at https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-wknd-tutorial-develop/project-archetype/project-setup.html?lang=en

I am getting following error

_Failed to execute goal org.apache.maven.plugins:maven-archetype-plugin:3

[2022-02-22 13:29] ackoch opened #20 "VPN connection only possible for environments (not Cloud Manager)"
Issue in ./help/cloud-service/networking/vpn.md

The sentence

Might give the impression, that you can connect Cloud Manager - which is not the case. The text should read

Also it makes sense to call out explicitly that VPN on Could Manager is not supported:

(INFO) Please note, that connecting the build environment from Cloud Manager to a VPN is _not_ supported. If you need to access binary artef

[2022-02-28 19:50] karthikreddii opened #22 "nexus is down or decommissioned."
Issue in ./help/foundation/development/set-up-a-local-aem-development-environment.md

Nexus seems to be down. Looking for that information on internal slack found that nexus was decommissioned for AEM purposes.
Customers are facing issues in settings.xml and confirming at step7. Could you please confirm and update the documentation?

[2022-03-04 18:59] godanny86 commented on #19
hi @vidhyabhushanbahl the tutorial was recently updated to use archetype 35. Can you try using the new commands?

[code]

[2022-03-09 21:57] godanny86 commented on #22
Hi @karthikreddii. I believe that the you no longer need to set up the `adobe-public` profile as part of the Maven setup. Can you confirm?

[2022-03-09 22:04] godanny86 commented on #16
Thanks @raydot. All of the AEM artifacts have been moved to Maven Central, so that step can be skipped. We will update the documentation and that page shortly...

[2022-03-09 23:14] godanny86 commented on #19
closing, feel free to re-open @vidhyabhushanbahl if you still have issues.

[2022-03-09 23:14] #19 closed, assigned to nobody

[2022-03-09 23:36] godanny86 commented on #6
ah @sebastianedberg good call out! Will make an update.

[2022-03-16 22:11] pawee-del opened #27 "request to update content"
Issue in ./help/cloud-service/asset-compute/set-up/firefly.md

there is this comment on the above page:
![image](https://user-images.githubusercontent.com/72118587/158699739-03868b93-4956-4694-8a6c-1ea750b74ce6.png)
project firefly is now replaced with app builder, so the template for project firefly no longer exist, so pls update to the latest

[2022-03-16 23:00] pawee-del opened #28 "content needs updating"
Issue in ./help/cloud-service/asset-compute/develop/project.md

it says here :
![image](https://user-images.githubusercontent.com/72118587/158705005-4342adfc-066d-4eda-be43-c957df3e11c6.png)
its no longer valid, now its alled DX Asset Compute Work v1:
<img width="384" alt="image" src="https://user-images.githubusercontent.com/72118587/158705052-ad1fe9e1-faa7-49ed-b6d1-4df58525a5c6.png">

[2022-03-22 14:19] davidjgonzalez commented on #6
The videos have been updated to include this new enhancement.

[2022-03-22 21:20] godanny86 commented on #3
I think the Double Click is inconsistent at best, the surefire way is to do it via the command-line :)

[2022-03-22 21:20] godanny86 commented on #3
I think the Double Click is inconsistent at best, the surefire way is to do it via the command-line :)

[2022-03-22 21:20] #3 closed, assigned to nobody

[2022-03-22 21:22] godanny86 commented on #4
Hi @sumanbi, apologies for the delay,  I think this is more of a question for Support: https://experienceleague.adobe.com/?support-solution=Experience+Manager#support

[2022-03-22 21:22] godanny86 commented on #4
Hi @sumanbi, apologies for the delay,  I think this is more of a question for Support: https://experienceleague.adobe.com/?support-solution=Experience+Manager#support

[2022-03-22 21:22] #4 closed, assigned to nobody

[2022-03-22 21:23] godanny86 commented on #5
Thanks @theboman, sorry for the delay. The Adobe maven releases used to be hosted on an Adobe nexus server but have since all been moved to Maven Central. The step and reference are no longer needed and have been removed from documentation. Thanks!

[2022-03-22 21:23] godanny86 commented on #5
Thanks @theboman, sorry for the delay. The Adobe maven releases used to be hosted on an Adobe nexus server but have since all been moved to Maven Central. The step and reference are no longer needed and have been removed from documentation. Thanks!

[2022-03-22 21:23] #5 closed, assigned to nobody

[2022-03-22 21:23] #6 closed, assigned to davidjgonzalez

[2022-03-22 21:25] godanny86 commented on #12
Thanks @distoan1 this has been resolved.

[2022-03-22 21:25] godanny86 commented on #12
Thanks @distoan1 this has been resolved.

[2022-03-22 21:25] #12 closed, assigned to nobody

[2022-03-22 21:27] godanny86 commented on #16
Fix is published. Thanks @raydot

[2022-03-22 21:27] godanny86 commented on #16
Fix is published. Thanks @raydot

[2022-03-22 21:27] #16 closed, assigned to nobody

[2022-03-22 21:28] godanny86 commented on #18
Thanks @theboman. We are planning an update of this tutorial shortly to use Archetype 35. Are you using the version of React that gets generated by Archetype 35? What version of Node/npm?

[2022-03-22 21:28] godanny86 commented on #18
Thanks @theboman. We are planning an update of this tutorial shortly to use Archetype 35. Are you using the version of React that gets generated by Archetype 35? What version of Node/npm?

[2022-03-22 21:29] godanny86 commented on #20
Thanks @ackoch this has been updated and published

[2022-03-22 21:29] godanny86 commented on #20
Thanks @ackoch this has been updated and published

[2022-03-22 21:29] #20 closed, assigned to nobody

[2022-03-22 21:30] godanny86 commented on #22
Thanks @karthikreddii we have updated the documentation to no longer include this unnecessary step. Thanks!

[2022-03-22 21:30] godanny86 commented on #22
Thanks @karthikreddii we have updated the documentation to no longer include this unnecessary step. Thanks!

[2022-03-22 21:30] #22 closed, assigned to nobody

[2022-03-22 21:42] theboman commented on #18
Well let me know if you would like a guinea pig for anything help with the docs etc... happy to help learn and get better

[2022-03-22 21:52] godanny86 commented on #18
That would be awesome! Always great to have a second set of eyes on this. Will let you know when we are closer to publishing. Thanks!

[2022-03-31 16:33] austinjbennett opened #31 "Video relies on task with no fallback"
Issue in ./help/foundation/security/use-the-ssl-wizard.md

The video walks through setting up SSL but assumes a newly set up environment with an administrative task asking to set up SSL. It does not show how to get to the SSL setup page by any other means.

[2022-03-31 16:53] davidjgonzalez commented on #28
Fixed! Thanks @pawee-del

https://experienceleague.adobe.com/docs/experience-manager-learn/cloud-service/asset-compute/develop/project.html?lang=en

[2022-03-31 16:53] #28 closed, assigned to davidjgonzalez

[2022-03-31 16:54] davidjgonzalez commented on #27
Updated references to Project FF to App Builder across the tutorial. Thanks!

https://experienceleague.adobe.com/docs/experience-manager-learn/cloud-service/asset-compute/overview.html?lang=en

[2022-03-31 16:54] #27 closed, assigned to davidjgonzalez

[2022-04-01 07:47] clatimier opened #32 "[AEM Sites] Sitemaps - Remove incorrect information stating dependency on Core Components"
Issue in ./help/sites/seo/sitemaps.md

The information "Sitemap functionality added in v2.17.6" seems incorrect
After discussing with Core components team, it looks like there is no Sitemap component included in the Core components, Sitemap is a feature based on Sling sitemap

[Logged by Support]

[2022-04-01 15:13] davidjgonzalez commented on #32
Core Components release notes state it was released in 2.17.16 [1].

Im following up to understand if it was removed (which i don't think it could/should have been to support back compat of CC on 6.5.x installs). This functionality was built upon Sling Sitemaps but added CQ-specifics. Let's see what Core Comp team comes back with.

[1] https://github.com/adobe/aem-core-wcm-components/releases/tag/

[2022-04-01 15:24] davidjgonzalez commented on #31
I'll add the following note below the video:

Thanks

[2022-04-13 08:03] viveksr2 opened #33 "Video sound is too low to be heard."
Issue in ./help/cloud-service/cloud-manager/devops/merge-projects.md

[2022-04-15 13:40] fmarambert opened #34 "Question on this Feature"
Issue in ./help/assets/advanced/asset-insights-launch-tutorial.md

Hi,
i have a question and not sure where to direct.
THis integration seems to generate s.tl() calls in Adobe Analytics for the impressions.
I suspect that this will have an impact on the Bounce rate of a page if the Asset Impression event triggers after a page load.

Should the Asset tracking be configured using a separate Report s

[2022-04-22 08:40] viveksr2 opened #35 "Issue in audio of the tutorial video"
A consistent issue I have seen across all the videos on the portal is that the presenters end the sentences too low and soft to be heard. I don't know whether it is intentional due to their training, but it distracts you at the end of every sentence and you can not focus/understand the content properly.

[2022-04-22 09:55] bartoszWesolowski opened #36 "Incorrect url"
Issue in ./help/forms/adaptive-forms/installing-aem-form-on-windows-tutorial-use.md

Link `https://helpx.adobe.com/experience-manager/6-3/forms/using/installing-configuring-aem-forms-osgi.html` from section
[code]

is invalid and redirects to https://experienceleague.adobe.com/docs/experience-manager-release-information/aem-release-updates/previous-updates/aem-previous-versions.html instead of act

[2022-04-26 08:12] bartoszWesolowski opened #37 "Writing a Custom Submit in AEM Forms - improvements"
Issue in ./help/forms/adaptive-forms/custom-submit-aem-forms-article.md

Hello,

This article does not explain how custom submit action could be actually implemented in a real live scenario, I have some questions here:
- is the `post.POST.jsp` necessary ? could it be implemented without it (seems this is an old apporach)
- what is actually the purpose of `addfields .jsp` ? Documentation states tha

[2022-04-26 12:00] noelle-CFIA opened #38 "Unable to change the actual DOR from the sample one."
Issue in ./help/forms/adaptive-forms/document-of-record-api-tutorial-use.md

The location listed in the ,js file to change the DOR from the sample to the working is no where to be found.

[2022-04-26 13:58] bartoszWesolowski opened #39 "Storing Adaptive Form Submissions in Database"
Issue in ./help/forms/adaptive-forms/storing-adaptive-form-data-in-db.md

Hello,

This documentation does not explain much -  is it possible to make it more user friendly? Is there a github repo with the code samples - maybe it would be worth to add some code samples here with explanation? Deploying compiled bundle and CRX package does not help to understand approach.

Thanks

[2022-04-29 19:32] azouaoui-deloitte opened #41 "Video isn't working properly"
Issue in ./help/sites/seo/sitemaps.md

[2022-04-29 19:54] godanny86 commented on #41
hey @azouaoui-deloitte what url are you hitting? is it this one: https://experienceleague.adobe.com/docs/experience-manager-learn/sites/seo/sitemaps.html?lang=en

Also what browser?

[2022-05-06 10:58] bartoszWesolowski opened #44 "Aem forms - missing information"
Issue in ./help/forms/adaptive-forms/tagging-and-saving-document-of-record-in-dam-article-use.md

Hello,

This tutorial is a bit confusing  - it does not explain how to implement this functionality - it provides a compiled bundle / already build CRX  packages which should work when installed on the AEM - in that format it's really hard to learn from this article.

It would be great to have a docum

[2022-05-06 16:11] girishadobe commented on #44
sure, will list the code in the article
thanks for the feedback

[2022-05-06 21:00] karthikreddii opened #45 "tag mapping syntax error"
Issue in ./help/assets/workfront/enhanced-connector/aem-experts-series/aem-tags-project-linked-folders-and-folder-metadata.md

Around 6 minutes 20 seconds in the video, for tag mapping, it was shown as tag/childtag but that is not working.
The right syntax is namespace:tag/childtag.
The customer reported this bug in the video

[2022-05-18 19:12] jonburkedesign opened #46 "Relative URLs in a sitemap.xml file? Shouldn't they be absolute?"
Issue in ./help/sites/seo/sitemaps.md

In the video you show a sitemap being created with relative paths. I am 99.9% sure this is wrong... URLs in a sitemap.xml files should be absolute.

Both Google and sitemaps.org show examples using absolute paths. Also, if you go to any reputable website with a sitemap.xml file, they all include absolute URLs... I also, submitted a sitemap to Google Search Co

[2022-05-18 19:21] bcmoney commented on #46
To back @jonburkedesign up, Adobe's own website shows absolute URLs as well:
- Sitemap index: https://www.adobe.com/hub/sitemap.xml
- actual language-specific Sitemap example: https://www.adobe.com/hub/sitemap-en.xml
Any particular reason that it won't automatically inherit the Base URL for a given content tree? Can this be made a configurable option maybe at the very least?

[2022-05-19 04:42] vidhyabhushanbahl opened #47 "Source code for - Tagging and Storing AEM Forms DoR in DAM"
Issue in ./help/forms/adaptive-forms/tagging-and-saving-document-of-record-in-dam-article-use.md

Where can we find the source of jar files.?

Thanks
Vidhya Bhushan Bahl

[2022-05-19 05:12] vidhyabhushanbahl opened #48 "Broken link"
Issue in ./help/forms/adaptive-forms/tagging-and-saving-document-of-record-in-dam-article-use.md

On this page, 1 and 4 pointing to same file and there is no link to download sampleadaptiveform.zip

1. [Download the Sample Adaptive Form](https://experienceleague.adobe.com/docs/experience-manager-learn/assets/tag-and-store-in-dam-assets.zip?lang=en)

2. [Go to Forms And Documents](http://localhost:

[2022-05-19 22:39] girishadobe commented on #48
let me check and get back
thanks for reporting

[2022-05-21 16:19] davidjgonzalez commented on #46
@jonburkedesign / @bcmoney - Is this a feature request for AEM's sitemaps? Or are you saying that now the AEM Sitemaps use absolutely URLs, and the video content is misleading?

The video was recorded using the OOTB functionality, so the content is what it is. If you see that the feature itself has been updated to use absolute URLs, we can put a note beneath the video stating that absolute URLs ar

[2022-05-23 17:56] girishadobe commented on #48
I have updated the article to include the form. It will take a day or so for the changes to reflect online. In the meantime, you can download the form [from here to test the solution out](https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:7fb69e27-77fa-4f6b-8181-9575fea109a6)

[2022-06-02 19:59] selango0 opened #51 "Guide is outdated as the folder heirarchy is not the same as the screenshot in the guide."
Issue in ./help/headless-tutorial/spa-editor/react/create-project.md

`[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] Child module /aem-guides-wknd-spa.react/ui.frontend of /Users/sys363/Desktop/aem-sites/aem-guides-wknd-spa.react/pom.xml does not exist @
[ERROR] Child module /aem-guides-wknd-spa.react/dispatcher of /Users/sys363/Desktop/aem-sites/aem-guides-wknd

[2022-06-03 16:03] godanny86 commented on #51
hi @selango0 what command did you use to create your project? FWIW we are working on a new version of this tutorial to use the latest version of the AEM Project Archetype (36). However I do not believe the module names have changed...

[2022-06-03 16:06] selango0 commented on #51
I'm using

`mvn -B archetype:generate \
 -D archetypeGroupId=com.adobe.aem \
 -D archetypeArtifactId=aem-project-archetype \
 -D archetypeVersion=27 \
 -D appTitle="WKND SPA React" \
 -D appId="wknd-spa-react" \
 -D artifactId="aem-guides-wknd-spa.react" \
 -D groupId="com.adobe.aem.guides.wkndspa.react" \
 -D frontendModule="react" \
 -D aemVersion="6.5.5"
`

And this is not my folder/file struct

[2022-06-03 16:10] godanny86 commented on #51
Ah with 6.5.5 I don't think the `analyse` module gets created. Is that the only difference?

[2022-06-03 16:14] selango0 commented on #51
I also don't have the ui.frontend/ folder, but rather specific versions of it:
![Screen Shot 2022-06-03 at 12 14 00 PM](https://user-images.githubusercontent.com/20031829/171904667-b1716361-eff1-417b-bc0c-69334618f431.png)

Which is why I get the errors above

[2022-06-03 16:17] godanny86 commented on #51
Yes that structure does not look correct. Are you sure you used this command:

[code]

What version of Maven are you using? Did the project get generated successfully? You should see the following message after generating the project:

[code]

[2022-06-03 16:24] selango0 commented on #51
Maven version: `Apache Maven 3.8.4 `

I just removed my entire folder and ran the command again. Same issue. This is the full message:

[INFO] Building Maven Stub Project (No POM) 1
[INFO] --------------------------------[ pom ]---------------------------------
[INFO]
[INFO] >>> maven-archetype-plugin:3.2.1:generate (default-cli) > generate-sources @ standalone-pom >>>
[INFO]
[INFO] <<< maven-arch

[2022-06-03 16:30] godanny86 commented on #51
Can you try this command w/ latest archetype?

[code]

[2022-06-03 16:39] selango0 commented on #51
This worked! Getting build success message now.

[2022-06-03 16:44] godanny86 commented on #51
nice! you should probably be able to complete most of the tutorial, might be some slight differences with the new archetype

[2022-06-03 16:48] selango0 commented on #51
Thanks!

[2022-06-03 16:48] #51 closed, assigned to nobody

[2022-06-13 17:36] mhawkins21 opened #52 "Broken Link"
Issue in ./help/forms/aem-forms-with-adobe-campaign/aem-forms-with-campaign-standard-getting-started-tutorial.md

The following link is broken -
<a href="https://docs.campaign.adobe.com/doc/standard/en/api/ACS_API.html#setting-up-api-access">Set up API acess on your ACS instance.</a>

[2022-06-13 17:48] girishadobe commented on #52
Thanks for pointing the broken link
I will update the document soon,this is the correct link
https://developer.adobe.com/console/projects

[2022-06-15 16:49] kwin opened #53 "Link to JCR 2.0 Javadoc is broken"
Issue in ./help/foundation/development/understand-java-api-best-practices.md

The link in https://experienceleague.adobe.com/docs/experience-manager-learn/foundation/development/understand-java-api-best-practices.html?lang=en#jcr-apis pointing to https://www.adobe.io/experience-manager/reference-materials/spec/javax.jcr/javadocs/jcr-2.0/index.html returns a 404

[2022-06-15 18:05] SachinMali opened #54 "Test A change and internal notification"
Issue in ./help/headless-tutorial/graphql/multi-step/overview.md

This is for testing, delete later..

[2022-06-15 18:12] #54 closed, assigned to nobody

[2022-06-15 18:13] SachinMali commented on #54
Testing done...

[2022-06-15 18:14] SachinMali opened #55 "Rerun of the Test"
Issue in ./help/headless-tutorial/graphql/multi-step/overview.md

Rerun of the test

[2022-06-15 18:47] #55 closed, assigned to nobody

[2022-06-15 20:57] alisonasanchez opened #56 "Missing return"
Issue in ./help/forms/adaptive-forms/installing-aem-form-on-windows-tutorial-use.md

This line needs to be separated so it is more clear:
java -d64 -Xmx2048M -jar AEM_6.3_Quickstart.jar -gui.Here AEM_6.3_Quickstart.jar is the name of my AEM quickstart jar.

[2022-06-16 19:29] davidjgonzalez commented on #35
Thanks for the feedback!

[2022-06-16 19:29] #35 closed, assigned to nobody

[2022-06-16 19:37] davidjgonzalez commented on #52
@girishadobe  fixed this! thanks!

[2022-06-16 19:37] #52 closed, assigned to nobody

[2022-06-16 19:37] #48 closed, assigned to nobody

[2022-06-16 19:38] davidjgonzalez commented on #48
Fixed

[2022-06-16 19:38] davidjgonzalez commented on #47
Source code added to article

[2022-06-16 19:38] #47 closed, assigned to nobody

[2022-06-16 19:39] davidjgonzalez commented on #45
Added a note below the video with correct - thanks!

[2022-06-16 19:39] #45 closed, assigned to davidjgonzalez

[2022-06-16 19:40] davidjgonzalez commented on #44
Fixed

[2022-06-16 19:40] #44 closed, assigned to girishadobe

[2022-06-16 19:41] #41 closed, assigned to nobody

[2022-06-16 19:44] davidjgonzalez commented on #33
Hi, can you try increasing the volume or turning closed captions on? Thanks!

[2022-06-16 19:44] #33 closed, assigned to nobody

[2022-06-16 19:49] davidjgonzalez commented on #34
@fmarambert  If you do not collect, and aggregate asset impressions analytics call, then your analytics call quota will be used up much faster than normal (assuming you have multiple images per page view). Its recommended to keep the OOT implementation for this to avoid that case.

[2022-06-16 19:49] #34 closed, assigned to davidjgonzalez

[2022-06-16 19:49] girishadobe commented on #39
Thanks for the feedback
will update the article with sample code

[2022-06-16 19:49] #32 closed, assigned to davidjgonzalez

[2022-06-16 19:49] #31 closed, assigned to davidjgonzalez

[2022-06-16 20:57] davidjgonzalez commented on #46
Adding info to describe how to set absolute URLs using Sling Mapping

[2022-06-16 20:57] #46 closed, assigned to davidjgonzalez

[2022-06-19 03:03] girishadobe commented on #37
Thanks for the feedback,
will update the documentation soon

[2022-06-19 03:06] girishadobe commented on #39
I will need to update the article with the code using osgi annotations. I expect it to be ready by Monday/Tuesday

[2022-06-19 03:09] girishadobe commented on #36
I have updated the article to point to the correct URL's. Thanks for the feedback

[2022-06-19 03:09] #36 closed, assigned to girishadobe

[2022-06-19 03:10] girishadobe commented on #36
Article updated

[2022-06-19 03:12] girishadobe commented on #14
This has been fixed

[2022-06-19 03:12] #14 closed, assigned to girishadobe

[2022-06-19 03:12] girishadobe commented on #14
fixed

[2022-06-19 03:19] girishadobe commented on #9
Thanks for the feedback.
the template that is created in this tutorial is included in the package. The other two templates come with the product..

[2022-06-19 03:20] #9 closed, assigned to girishadobe

[2022-06-19 03:21] girishadobe commented on #9
The sample template is included in the package. The other two templates come with the OOTB AEM Forms installation

[2022-06-20 14:46] kwin commented on #53
Was a temporary glitch. The JCR javadoc and spec links work again.

[2022-06-20 14:47] #53 closed, assigned to davidjgonzalez

[2022-06-20 20:24] davidjgonzalez commented on #53
I've updated them to point to the new domain anyhow (might as well skip the Redirect) .. should be published this week

[2022-06-22 15:28] bartoszWesolowski opened #57 "Email service for sandbox env"
Issue in ./help/cloud-service/networking/examples/email-service.md

Hello,

This page describe how to configure the SMTP server with advanced networking - it does not show how to do it without this setting (for example for sandbox env). I think it would be useful to also provide some additional resources here describing how this can be configured.

Cheers,
Bartek

[2022-06-23 15:19] nirmaljosehere opened #58 "wknd-2.0.0 onwards the graphql proxy is not working anymore"
Issue in ./help/headless-tutorial/graphql/quick-setup/local-sdk.md

At step 2.1, I went and downloaded https://github.com/adobe/aem-guides-wknd/releases/tag/aem-guides-wknd-2.0.0 as thats the latest. But that is broken and graphql call is returning an error. I tried with https://github.com/adobe/aem-guides-wknd/releases/tag/aem-guides-wknd-1.1.0 and this is working fine.

[2022-06-23 15:27] nirmaljosehere commented on #58
Also, as per the screenshot for 3.6, the call is made to http://localhost:4502/content/graphql/global/endpoint.json. But for me, the call is actually to http://localhost:3000/content/graphql/global/endpoint.json

[2022-06-26 06:11] Trupti-chowksey opened #59 "unable to sync my changes to ui.app client liberary"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/component-basics.md

i am trying the same steps you shown  shown in video i get this out put

[code]

I am unable to sync my changes from ui.frontend to ui.apps client library can you please let me know what is an issue and where I am going wrong

[2022-06-27 14:51] nirmaljosehere opened #60 "Location for text edit config and Mapto moved to import-components.js - not reflected in documentation"
Issue in ./help/headless-tutorial/spa-editor/react/map-components.md

In the https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/spa-editor/react/map-components.html?lang=en#inspect-the-text-spa-component section item 3 and 4 is no longer in the text component itself. It has moved to generics import-components.js. I am using maven archetype is 36

[2022-07-01 20:38] chekurisriharsha opened #61 "OAuth 1.0a & 2.0 Documentation link incorrect"
Issue in ./help/foundation/authentication/authentication-support-article-understand.md

Can you please fix the link to OAuth 1.0a & 2.0 documentation on this page.

[2022-07-04 10:05] tnetake opened #62 "Step to Updating OSGI service "Apache sling authentication service" should be there on this page to avoid confusion."
Issue in ./help/cloud-service/authentication/saml-2-0.md

When customer set path as /content/<customer-repository> in path property of com.adobe.granite.auth.saml.SamlAuthenticationHandler~saml.cfg.json OSGI configuration and when customer hit http://<host>:<IP>/content/<customer-repository> page isn't redirecting to IDP login page. Customer have to configure  OSGI service "Apache sling authentica

[2022-07-04 14:33] davidjgonzalez commented on #62
Hi!

Setting up authorization requirements is a subsequent concern - there are a lot of ways to do this - I prefer using CUGs over that osgi service tho, and would only recommend using that osgi as a backup when cugs/acls arent sufficient

I wanted to make a supplemental guide Covering this topic, but ran out of time :(

[2022-07-12 08:47] bartoszWesolowski opened #64 "InDesign server - download link"
Issue in ./help/assets/asset-templates/asset-templates-technical-video-setup.md

Hello,

Is this documentation up to date? It seems that setting up/downloading InDesign Server has changed. I could not find InDesign Server installation files using provided links / included video. I can only see this download options when I follow the documentation
<img width="786" alt="image" src="https://user-imag

[2022-07-14 15:06] davidjgonzalez commented on #57
Hi @bartoszWesolowski - per the table at the top of Advanced Networking page, you can see that Sandboxes do not support  advanced networking, so you wont be able to test SMTP from there.

https://experienceleague.adobe.com/docs/experience-manager-learn/cloud-service/networking/advanced-networking.html

[2022-07-14 15:06] #57 closed, assigned to davidjgonzalez

[2022-07-14 17:41] davidjgonzalez commented on #64
I believe it now available via: https://www.adobeprerelease.com/

Ill update the link on the docs as well!

[2022-07-14 17:41] #64 closed, assigned to davidjgonzalez

[2022-07-14 17:54] davidjgonzalez commented on #61
I've updated the link to point to: https://experienceleague.adobe.com/docs/experience-manager-gems-events/assets/oauth-server-functionality-in-aem-7-23-14.pdf

[2022-07-14 17:54] #61 closed, assigned to davidjgonzalez

[2022-07-14 17:56] davidjgonzalez commented on #59
Is there an error? Are you not seeing files changing in the configured clientlibs location under ../ui.apps?

Can you provide some more information whats going wrong exactly?

[2022-07-14 17:58] davidjgonzalez commented on #58
Hi - the local AEM SDK tutorial should be updated to be compatible w/ WKND 2.0.0 now.

The Cloud Service counterpart is being updated as we speak.

[2022-07-14 17:58] #58 closed, assigned to davidjgonzalez

[2022-07-19 22:54] blentz100 opened #68 "Formatting Broken"
With sections:

4 - Client-Side Libraries
5 - Style System
6 - Custom Component

the formatting appears off. The right hand column is gone and the main text of the page is running of the edge with no way to scroll right to see the rest of it. I've tried multiple browsers.
<img width="1183" alt="Screen Shot 2022-07-19 at 3 52 57 PM" src="https://user-images.githubusercontent.com/66037960/179861764-

[2022-07-21 13:38] bstopp opened #70 "Modernize Tools Videos are out-of-date"
Issue in ./help/cloud-service/migration/moving-to-aem-as-a-cloud-service/aem-modernization-tools.md

The video on this page for the Modernize Tools is very out of date. The demo uses v1.x of the tools; where v2.0 was a complete overhaul with new UI experience and features.

The Modernize Tools documentation site has numerous demo videos:

* [All In One Conversion](https://opensource.adobe.com/aem-

[2022-08-02 05:44] yui-adobe opened #72 "Typo "wich""
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/client-side-libraries.md

Typo wich in "The command npm run watch ultimately populates the clientlib-site and clientlib-dependencies in the ui.apps module wich is then synced automatically with AEM."

[2022-08-15 14:12] muellerpeter8 opened #73 "First mvn command inaccuracy"
Issue in ./help/headless-tutorial/spa-editor/react/create-project.md
The very first mvn command in the tutorial that sets up the project file structure creates different files than what is shown and subsequently causes errors in the mvn build. Thus starting the tutorial is not possible.

[2022-08-17 07:23] bartoszWesolowski opened #74 "[AEM Assets] Missing AEM as Cloud Service documentation on IDS setup"
Issue in ./help/assets/asset-templates/asset-templates-technical-video-setup.md

Is there a documentation for asset templates that is compliant with AEM as Cloud Service? If not it would be great to create one - as far as I understand the current one will not help to set this up in the cloud approach

[2022-08-18 22:44] alisonasanchez opened #75 "Advanced networking - Email service missing link to legacy setup"
Issue in ./help/cloud-service/networking/examples/email-service.md

Somewhere in here, there needs to be a link to https://experienceleague.adobe.com/docs/experience-manager-cloud-service/content/implementing/developing/development-guidelines.html?lang=en#legacy-email-configuration which talks about the requirements. Ie. only certain ports are allowed.

[2022-08-19 16:24] davidjgonzalez commented on #74
@bartoszWesolowski I believe the steps for setting IDS up with the AEM SDK are the same.

The AEM as a Cloud Service environment setup is handled in conjunction with Adobe, since the IDS server when integrating with AEM CS is hosted by Adobe as well (so not sure you would have the details to configure).

If i can find formal docs ill post back here and update the linked page.

[2022-08-19 16:33] davidjgonzalez commented on #75
I added a link to the page, however it seems like this only pertains to now very old (legacy) deployments that didnt use advanced networking? It says these considerations are only valid for people setting this up prior to 2021.9 which is ~ a year ago -- do you know if this actually affects anyone today?

[2022-08-19 16:33] #75 closed, assigned to davidjgonzalez

[2022-08-19 21:17] alisonasanchez commented on #75
I'm not sure if the port requirements are for only legacy or all egress IP's. Can we find out and document that? I tend to think that if it is a requirement for legacy systems, it is probably also a requirement for current versions as well. But, it's not documented anywhere that I can find, so.... here we are.

[2022-09-07 20:51] SachinMali opened #78 "Testing integration"
Issue in ./help/headless-tutorial/graphql/multi-step/overview.md

Rerun of the test, please delete after test..

[2022-09-07 21:03] SachinMali opened #79 "Testing integration"
Issue in ./help/headless-tutorial/graphql/example-apps/web-component.md

Please delete me once testing is done

[2022-09-07 21:09] #79 closed, assigned to nobody

[2022-09-07 21:10] SachinMali opened #80 "Test Another integration"
Issue in ./help/headless-tutorial/graphql/example-apps/web-component.md

Please delete me after the test..

[2022-09-08 20:17] dporter-moveworks opened #81 "Misspelling in objective list item"
Issue in ./help/cloud-service/asset-compute/overview.md

Develop **am** Asset Compute worker that generates a custom rendition

[2022-09-12 10:46] nirmaljosehere opened #82 "Wrong key reference in the graphql query"
Issue in ./help/headless-tutorial/graphql/multi-step/explore-graphql-api.md

In persist queries section, step number 5,

biographyText {
        json
      }

Should be

biography {
        json
      }

[2022-09-19 16:26] yanlicao opened #84 "Client question on file create-project.md"
Dear team
We received this comment at https://github.com/AdobeDocs/experience-manager-learn.pt-BR/issues/1
Issue in ./help/headless-tutorial/spa-editor/react/create-project.md
I followed step by step the documentation on how to start a react spa project but I couldn't see or use the default Text component and when checking the templates I see that the one used as default does not contains the comp

[2022-09-21 15:31] yanlicao opened #85 "Client question regarding file ./help/headless-tutorial/spa-editor/react/integrate-spa.md"
ear team
We received this comment at https://github.com/AdobeDocs/experience-manager-learn.pt-BR/issues/2
Issue in ./help/headless-tutorial/spa-editor/react/create-project.md
-----------
Issue in ./help/headless-tutorial/spa-editor/react/integrate-spa.md

When following the documentation step by step, from installation/clone of the project to modification, it was not possible to see any functional

[2022-09-22 15:18] SachinMali commented on #85
@yanlicao  Can you please provide more info, like
- What was your Maven Command
- What AEM version (Cloud, 6.X.X) you are trying to deploy?

FYI I used the latest archetype 37 on AEM-SDK (aem-sdk-2022.7.8085.20220725T140323Z-220600) and could see the WKND Header as shown in chaper-2- Integrate the SPA

[code]

[2022-09-22 15:24] yanlicao commented on #85
Thanks @SachinMali, I see you refer to “chaper-2- Integrate the SPA”. Is this another page? Can you please send me the link?

[2022-09-26 16:13] SachinMali opened #86 "Integration testing with David's new hook"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/overview.md

[2022-09-26 16:15] SachinMali opened #87 "Rerun of integration test with new"
Issue in ./help/getting-started-wknd-tutorial-develop/site-template/overview.md

Delete this after the test

[2022-09-26 16:17] SachinMali opened #88 "New test at 12:17"
Issue in ./help/getting-started-wknd-tutorial-develop/site-template/overview.md

Delete me after the test

[2022-09-26 16:18] #80 closed, assigned to nobody

[2022-09-26 16:18] #78 closed, assigned to nobody

[2022-09-26 16:20] #86 closed, assigned to nobody

[2022-09-26 16:20] #87 closed, assigned to nobody

[2022-09-26 16:20] #88 closed, assigned to nobody

[2022-09-26 16:22] SachinMali opened #89 "Test at 12:22 EST after new update-1.0"
Issue in ./help/getting-started-wknd-tutorial-develop/site-template/overview.md

Delete me after test

[2022-09-26 18:15] davidjgonzalez opened #90 "Test bug"
Issue in ./help/forms/troubleshooting/how-to-purge-process-records-from-the-job-manager-table.md

This is a test bug.

[2022-09-26 18:16] #90 closed, assigned to nobody

[2022-10-14 15:28] yanlicao commented on #84
Dear team, can you reply this question please?
As client is waiting.

[2022-10-14 15:30] yanlicao commented on #85
Hi @SachinMali , can you advise me on above question? thanks,

[2022-10-17 19:13] #89 closed, assigned to nobody

[2022-10-18 15:19] davidjgonzalez commented on #85
I was able to get this working using the current version of the archetype (39)

[code]

it sounds like perhaps you are not (successfully) running `mvn clean install -PautoInstallSinglePackage` and deploying the maven project to your AEM?

Also, make sure that you set the `aemVersion` to `cloud` or `6.5.x` depending on where youre deploying to. If you create an archetype for the a different version

[2022-10-18 15:20] davidjgonzalez commented on #84
Can you try out whats outlined in:

https://github.com/AdobeDocs/experience-manager-learn.en/issues/85#issuecomment-1282568444

[2022-10-18 15:35] davidjgonzalez commented on #73
@muellerpeter8 i went through and updated the structure for Archetype 39, so this should be resolved when published. Do you recall if there was anything specific that was causing you trouble (want to make sure i didnt miss it). THanks

[2022-10-18 15:36] #72 closed, assigned to davidjgonzalez

[2022-10-18 15:48] davidjgonzalez commented on #68
This has been fixed in a CSS updated deployed to ExL.

[2022-10-18 15:48] #68 closed, assigned to nobody

[2022-10-18 15:59] davidjgonzalez commented on #18
This tutorial has been bumped to use Archetype 39 and the React/Node versions it specifies/generates.

[2022-10-18 15:59] #18 closed, assigned to davidjgonzalez

[2022-10-18 16:00] davidjgonzalez commented on #39
Done

[2022-10-18 16:00] #39 closed, assigned to girishadobe

[2022-10-19 13:00] bartoszWesolowski opened #94 "Documentation extension"
Issue in ./help/headless-tutorial/graphql/advanced-graphql/graphql-persisted-queries.md

Hello,

I am learning about AEM Headless and I started with video series and documentation form https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/overview.html?lang=en

I see that documentation about persisted queries is focused on the API that provides that fea

[2022-10-19 13:17] SebaMMM opened #95 "WKND Sites basic tutorial - Issue playing video"
Issue in ./help/getting-started-wknd-tutorial-develop/project-archetype/pages-templates.md

Hello, the video explaining how to Update the Header and Footer with Experience Fragments won't go past the 2nd minute & 47th second. I have tried with different browsers. Previous videos didn't have problems. Thank you for your time!

![image](https://user-images.githubusercontent.com/93770591/196701147-24

[2022-10-19 17:34] davidjgonzalez commented on #95
Hi @SebaMMM  - unfortunately i cannot reproduce this. Here's a screenshot of my video played well past 2:47 -- can you a different browser, incognito, etc? Or maybe  try adjusting the quality and see if that helps?

![2022-10-19 at 1 33 PM](https://user-images.githubusercontent.com/1451868/196763920-37da022c-1794-44d0-978f-3961e416e4c4.png)

[2022-10-19 17:35] #13 closed, assigned to girishadobe

[2022-10-19 17:35] #15 closed, assigned to girishadobe

[2022-10-19 17:35] #37 closed, assigned to girishadobe

[2022-10-19 17:35] #38 closed, assigned to girishadobe

[2022-10-19 17:35] #56 closed, assigned to davidjgonzalez

[2022-10-19 17:35] #60 closed, assigned to davidjgonzalez

[2022-10-19 17:35] #70 closed, assigned to davidjgonzalez

[2022-10-19 17:35] #73 closed, assigned to davidjgonzalez

[2022-10-19 17:35] #81 closed, assigned to davidjgonzalez

[2022-10-19 17:35] #82 closed, assigned to davidjgonzalez

[2022-10-19 17:36] #84 closed, assigned to nobody

[2022-10-19 17:36] #85 closed, assigned to nobody

[2022-10-19 18:08] SachinMali commented on #94
@bartoszWesolowski  That's correct, as of now 'GraphiQL IDE' is built into the AEM as a Cloud Service. And for 6.x.x you can install it via package, we have steps outlined steps here at **Basic Tutorial** (https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/graphql/multi-step/explore-graphql-api.html?lang=en#install-graphiql)

However, [Advanced Tutor

[2022-10-20 12:59] davidjgonzalez commented on #95
Closing for now. Please re-open if you still cannot play the video and we can raise w/ our engineering team.

[2022-10-20 12:59] #95 closed, assigned to nobody

[2022-10-22 09:17] bartoszWesolowski opened #96 "Changes in react app not deployed"
Issue in ./help/headless-tutorial/spa-editor/react/map-components.md

Hello,

I created the project using the lates archetype for AEM 6.5.9 with this maven command:
[code]

When I followed the tutorial I noticed that deploying the app with `mvn clean install -PautoInstallSinglePackage` from the root directory does not deploy changes in the react app.

Steps to reproduce:
1. Change some component i

[2022-10-22 13:18] SachinMali commented on #96
Hello Bartek,

Can you please try upgrading the instance to 6.5.13 or 14 (service pack 13 or 14).. I think you are using latest archetype (39) but a bit older aem instance.

Thanks
Sachin

[2022-11-08 12:30] RyanADBE opened #97 "[AEM CS] Conflicting information around IMS User Groups/Product Profile support"
Issue in ./help/cloud-service/accessing/adobe-ims-product-profiles.md

I don't know if this is the correct way to raise this but there seems to be conflicting information on this page vs https://experienceleague.adobe.com/docs/experience-manager-cloud-service/content/security/ims-support.html?lang=en.

This page suggests that IMS User Groups can be used in conjunction with AEM groups, and that fun

[2022-11-08 19:00] alisonasanchez opened #98 "[AEM CS] Needs more info about how to assign permissions in Admin Console"
Issue in ./help/cloud-service/debugging/cloud-service/developer-console.md

In the dev console access section, it tells you what you need, but not how to check it, or add it. That specific information should be given since teh admin console is non-intuitive.

[2022-11-08 19:52] davidjgonzalez commented on #97
@RyanADBE im not seeing where the conflict is here. Can you point out exactly where you're seeing the contradictory guidance? The Video itself focuses more on the Product Profiles as well, rather than user groups.

[2022-11-09 00:10] alisonasanchez opened #99 "[AEM Foundation] Add CORS configuration regexp examples"
Issue in ./help/foundation/security/understand-cross-origin-resource-sharing.md
I would like to get an example of what the alloworiginregexp value would look like. Can you please provide one in one of the examples? Like maybe for the more complicated one, allow *.site1.com and what that would look like.

[2022-11-09 16:54] RyanADBE commented on #97
Hi @davidjgonzalez, thanks for your message. If you go to 2.53 in the video onwards, IMS user groups are given as an option for use with AEMaaCS but the other page suggests we shouldn't do this.

[2022-11-09 17:27] alisonasanchez commented on #99
Also, would be helpful in the examples to provide multiple values for alloworiginregexp and alloworigin so that we can see how those should be formatted.

[2022-11-09 23:21] davidjgonzalez commented on #97
Not sure I'm follow .. the video says you can add groups to product profiles (or users) and rhe docs say: Any users and groups added under this product profile will be able to login to that particular instance as shown in the example below:...

So it too is saying you can add groups (or users) to PP.

[2022-11-10 08:55] RyanADBE commented on #97
It's just this line that seems to suggest that we shouldn't be using User Groups: "AEM currently does not support assigning groups to profiles. Users should be added individually instead."

[2022-11-11 15:33] SachinMali commented on #99
@alisonasanchez For now can you please see https://github.com/adobe/aem-guides-wknd/blob/a51868804458b79427727c0320763b1112638b6b/ui.config/src/main/content/jcr_root/apps/wknd/osgiconfig/config.author/com.adobe.granite.cors.impl.CORSPolicyImpl~wknd-graphql.cfg.json

Hope this provides some insight.

[2022-11-11 20:08] Rappa-Adobe opened #100 "[AEM CS] Clarification for obtaining your region when configuring advanced networking."
Issue in ./help/cloud-service/networking/dedicated-egress-ip-address.md

The section that states:

First, determine the region in which the Advanced Networking is needed, by using the Cloud Manager API [listRegions](https://developer.adobe.com/experience-cloud/cloud-manager/reference/api/) operation. The region name is required to make subsequent Cloud Manager API calls. Typically, the region the

[2022-11-11 22:12] davidjgonzalez commented on #100
This API calls returns the regions you can make your advanced networking in -- usually thats whatever region your program is in, but doesnt have to be. Do you know the best way to figure out what region your program is in (and by region, i mean the region code you need to provide to the advanced networking creation API)? If such a thing exists we could add that - i just dont know off the top of my

[2022-11-11 22:26] Rappa-Adobe commented on #100
I had thought you can get this from the developer console URL. I would verify this though.

![image](https://user-images.githubusercontent.com/24437942/201439318-bcfe7b72-4cc7-4e66-a7da-ec9076b4bc2f.png)

[2022-11-16 16:07] RyanADBE commented on #97
Hi @davidjgonzalez, I'm wondering if the root of this recommendation to not use User Groups was due to this bug: https://jira.corp.adobe.com/browse/IDOPS-7328

[2022-11-16 17:15] davidjgonzalez commented on #97
@RyanADBE ahh - gotcha. Somehow my brain never reads those notes :(

Im replacing this issue, with a new one for the Documentation page as AFIAK the video is correct (and Docs page is incorrect): https://github.com/AdobeDocs/experience-manager-cloud-service.en/issues/36

[2022-11-16 17:15] #97 closed, assigned to davidjgonzalez

[2022-11-18 20:07] SachinMali commented on #94
This has been addressed by editing the

[Advanced Concepts of AEM Headless](https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/graphql/advanced-tutorial/overview.html?lang=en)

**Caution Note on Videos**

[Creating GraphQL Queries](https://experienceleague.adobe.com/docs/experience-manager-learn/getting-started-with-aem-headless/graphql/video-series/

[2022-11-18 20:07] #94 closed, assigned to SachinMali

[2022-11-18 20:09] SachinMali commented on #59
Please re-open if needed, closing cause of inactivity.

[2022-11-18 20:09] #59 closed, assigned to nobody

[2022-11-18 22:00] SachinMali opened #101 "Test Integration"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore

[2022-11-18 22:02] #101 closed, assigned to nobody

[2022-11-18 22:02] SachinMali opened #102 "Test without MD"
Please ignore me, its integration test

[2022-11-18 22:04] #102 closed, assigned to nobody

[2022-11-21 16:51] SachinMali opened #103 "Test Int"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me..

[2022-11-21 17:30] #103 closed, assigned to nobody

[2022-11-21 17:31] SachinMali opened #104 "Test Int"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Another test, please ignore me

[2022-11-21 17:32] #104 closed, assigned to nobody

[2022-11-21 17:35] SachinMali opened #105 "Test Integration"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me

[2022-11-21 20:52] SachinMali opened #106 "Int Test New"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me...

[2022-11-21 21:32] SachinMali opened #107 "Int Test with new value"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me..

[2022-11-21 21:43] SachinMali opened #108 "Test Int"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me..

[2022-11-21 21:47] SachinMali opened #109 "Test Int"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Plz ignore me

[2022-11-21 22:59] SachinMali opened #110 "Test Integration"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me

[2022-11-21 23:03] SachinMali opened #111 "Test New Integration"
Issue in ./help/headless-tutorial/graphql/multi-step/graphql-and-react-app.md

Please ignore me

[2022-11-21 23:06] #111 closed, assigned to nobody

[2022-11-21 23:06] #110 closed, assigned to nobody

[2022-11-21 23:06] #109 closed, assigned to nobody

[2022-11-21 23:06] #108 closed, assigned to nobody

[2022-11-21 23:06] #107 closed, assigned to nobody

[2022-11-21 23:07] #106 closed, assigned to nobody

[2022-11-21 23:07] #105 closed, assigned to nobody

[2022-11-22 16:25] SachinMali opened #112 "Integration Test"
Issue in ./help/getting-started-wknd-tutorial-develop/enable-frontend-pipeline/overview.md

Please ignore me

[2022-11-22 16:26] #112 closed, assigned to nobody